		.popup {
			z-index: 9999;
		    width:100%;
		    height:100%;
		    display:none;
		    position:fixed;
		    top:0px;
		    left:0px;
		    background:rgba(0,0,0,0.75);
		    overflow: auto;
		}

				.popup-close {

		    width:30px;
		    height:30px;
		    padding-top:4px;
		    display:inline-block;
		    position:absolute;
		    top:0px;
		    right:0px;
		    transition:ease 0.25s all;
		    -webkit-transform:translate(50%, -50%);
		    transform:translate(50%, -50%);
		    border-radius:1000px;
		    background:rgba(0,0,0,0.8);
		    font-family:Arial, Sans-Serif;
		    font-size:20px;
		    text-align:center;
		    line-height:100%;
		    color:#fff;
		    text-decoration:none;
		}

				.popup-inner {
		    width:20%;
		    height: 70%;
		    padding:50px;
		    position:absolute;
		    top:50%;
		    left:50%;
		    -webkit-transform:translate(-50%, -50%);
		    transform:translate(-50%, -50%);
		    box-shadow:0px 2px 6px rgba(0,0,0,1);
		    border-radius:3px;
		    background:#fff;
		}