body{
	font-family:"Segoe UI";
}
h2{
	margin-top: -20px;
	color:#444444;
	font-size: 25px;
	font-weight:600;
	font-family: "Segoe UI";
}

.popup, .popup-ci{
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    overflow: auto;
}

.popup{
    z-index: 9999;
}

.popup-ci{
    z-index: 8888;
}
 
.popup-inner {
    width:50%;
    max-height:80%;
    padding:50px 40px;
    position:absolute;
    top:45%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
    text-decoration:none;
}

.popup-ok{
	position:absolute;
	bottom:6%;
	right:5%;
	height:30px;
             background-color: #dd4b39;
            border: 1px solid #d73925;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
    font-size:15px;
    text-decoration:none;
	font-family: "Segoe UI";
	cursor: pointer;
	border: 1px solid #dddddd;
	outline: none;
	border-radius: 5px;
}

.popup-ok:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}




.popup-yes{
	position:absolute;
	right: 187px;
	height:30px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
    font-size:15px;
    text-decoration:none;
	font-family: "Segoe UI";
	cursor: pointer;
	border: 1px solid #dddddd;
	outline: none;
	border-radius: 5px;
}
.popup-yes:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}

.popup-no{
	position:absolute;
	right: 125px;
	height:30px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
    font-size:15px;
    text-decoration:none;
	font-family: "Segoe UI";
	cursor: pointer;
	border: 1px solid #dddddd;
	outline: none;
	border-radius: 5px;
}

.popup-no:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}

.popup-cancel{
	position:absolute;
	right: 25px;
	height:30px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
    font-size:15px;
    text-decoration:none;
	font-family: "Segoe UI";
	cursor: pointer;
	border: 1px solid #dddddd;
	outline: none;
	border-radius: 5px;
}
.popup-cancel:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}

.yes-no-cancel{
	position: absolute;
	right: 2%;
}

.popup-close:hover {
    background:rgba(0,0,0,1);
}