#successProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: grey;
}
#successBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: green;
}