#bg1
{
	position:absolute;
	left:3px;
	top:80px;
    width: 1360px;
	height:500px;
	background-color:white;
	box-shadow: 0px 0px 7px #888888;
}
#iconEmail
{
	position:absolute;
	left:620px;
	top:100px;
	width: 80px;
	height:80px;

}
#lblEmail
{
	position:absolute;
	left:515px;
	top:190px;
	font-size: 40px;
	font-weight:200;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}

#lblOrder
{	
	position:absolute;
	left:200px;
	top:250px;
	font-size: 25px;
	font-weight:200;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}

#lblSave1
{
	position:absolute;
	left:400px;
	top:325px;
	font-size: 25px;
	font-weight:200;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}
#lblSave
{
	position:absolute;
	left:630px;
	top:324px;
	font-size: 27px;
	font-weight: 400;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}



#changeEmail
{
	position:absolute;
	left:515px;
	top:415px;
	width: 300px;
	height:35px;
    background-color: #df6a1d;
    border: none;
    color: white;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}
#spanChangeEmail
{
	position:absolute;
	left:420px;
	top:390px;
}	

#btnVerifyEmail
{
	position:absolute;
	left:515px;
	top:470px;
    width: 300px;
	height:35px;
    background-color: #1d6fdf;
    border: none;
    color: white;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
	letter-spacing: 1px;
	font-family: "Segoe UI";

}


#cancelEmailChange
{
	position:absolute;
	left:310px;
	top:5px;	
	width: 180px;
	height:35px;
    background-color: #df6a1d;
    border: none;
    color: white;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}
#txtChangeEmail
{
	position:absolute;
	left:0px;
	top:0px;
    width: 300px;
	height:35px;
    padding: 10px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1.5px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
	border-radius: 2px;
	background-color:white;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: "Segoe UI";
	}
#txtChangeEmail:focus {
  box-shadow: 0 0 3px #df6a1d;
  border: 1px solid #df6a1d;
  }
  

