/* For mobile phones: */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	
}

 /* For tablets: */
@media only screen and (min-width: 481px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
	
}
/* For desktop: */
@media only screen and (min-width: 801px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
	
	
	
	/*===============================*/
    #divorder{
        
    }
    
    #tblproducts  {
		border-collapse: collapse;
		width: 100%;
        border: 1px solid #222d32; 
	}

    #tblproducts th, #tblproducts td {
		padding: 5px;
		font-family:Century gothic;
		font-size:10pt;
		}
    
    #tblproducts td a{
        color:dodgerblue;
        text-decoration: none;
    }

	#tprod:nth-child(even){background-color: #f2f2f2}

	#tblproducts th {
		background-color: #222d32;
		font-family:Century gothic;
		color: white;
		font-size:12pt;
	}
    
    
    
    .totalsales{
        font-size: 15pt;
        font-weight: 700;
    }
    
    #tbltotal #td1{
		padding: 5px;
		font-family:Century gothic;
		font-size:10pt;
      
    }
    #tbltotal #td2{
        padding: 5px;
		font-family:Century gothic;
        font-size: 15pt;
        font-weight: 700;
        text-align: right;
    }
    
    #td1{
          text-align: right;
    }
    h2{
        font-family: century gothic;
    }
    
    #divdetails{
        font-family: century gothic;
        font-size: 11pt;
    }
    
    #tbldetails{
        width:100%;
    }
    
    #lbl1{
        font-size: 10pt;
    }
    
    #lblcustid{
        margin-left: 20px;
    }
    
    #lbldate{
        margin-left: 20px;
    }
    
    #divdetails2{
        font-family: century gothic;
        font-size: 11pt;
    }
    
    #tbldetails2{
        width:100%;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #tbldetails2 th{
        border-bottom: 1px solid #e3e3e3;
    }
    
     #tbldetails2 td{
        color:#939393;
    }
    
    #divtotal{
        text-align: left;
    }
    
    #tbltotal{
        border-collapse: collapse;
		width: 100%;
        border-bottom:1px solid #222d32;
        border-right:1px solid #222d32;
        border-left:1px solid #222d32;
    }
    
    #divback{
        margin-top: 10px;
        width: 100%;
        text-align: right;
    }
    
    #divback a{
        font-family: century gothic;
        font-size: 9pt;    
        text-decoration: none;
        color:dodgerblue;
    }
    
    #tr2{
        background-color: #e20000;
        color:white;
    }
    
    #imgshirts{
        width:50px;
    }
}

