.popup-ci{
    z-index: 8888;
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    overflow: auto;
}

h3{
	text-align: center;
}

#tblorderhistory{
    border-collapse: collapse;
    width: 100%;
}

#tblorderhistory th,#tblorderhistory td {
    text-align: left;
    padding: 8px;
    font-family:Century gothic;
}
    
#tblorderhistory tr:nth-child(even){background-color:#f2f2f2 }

#tblorderhistory th {
    background-color: #222d32 ;
    font-family:Century gothic;
    font-weight:bold;
    color: white;
}