h1
{
	background-color:white;
	color:#444444;
	padding:15px 250px;
	text-align:left;
	font-size: 20px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}

#divAddEdit{
	border-top:3px solid #dd4b39;
    margin-left: 260px;
    background-color: white;
    width:1050px;
	height: 500px;
    border-radius: 3px;
    border-bottom:1px solid #e4e8ed;
    border-right:1px solid #e4e8ed;
    border-left:1px solid #e4e8ed;
    box-shadow: 0px 1px 3px #dbdfe3;
}

.image-editor{
	margin-left: 25px;
}
#lblHB{
	margin-top: 50px;
	margin-left: 10px;
    font-weight:500;
    font-size: 18px;
	font-family: "Segoe UI";
    color:#5c5c5c;
}
.btnClear{
	margin-top: -30px;
	margin-left: 925px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 8px 11px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}
.btnClear:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}

#iconClear:before
{
	content:url("Icons/iconClear.png");
	vertical-align:middle;
}

#divTool
{
	margin-top:10px;
	margin-left:725px;
	width:275px;
    border: 1px solid #f4f4f4;
}

.fileUpload {
	position: absolute;
	left:290px;
	top:425px;
	overflow: hidden;
	padding: 8px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
	color:white;
	font-size: 13px;
	font-family: "Segoe UI";
}
.fileUpload input.cropit-image-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 8px;
    font-size: 13px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileUpload input.cropit-image-input {
    background-color: #d73925;
    border: 1px solid #ac2925;
}

#iconUpload:before
{
content:url("Icons/iconUpload.png");
vertical-align:middle;
}

.cropit-image-zoom-input{
	padding: 15px;
}

.rotate-cw{
	padding:5px 5px;
	width: 45px;
	height: 45px;
	outline: none;
}
.rotate-cw:hover{
	box-shadow: 0 0px 5px 0 rgba(0,0,0,0.20),0 2px 2px 0 rgba(0,0,0,0.12);
}
.rotate-ccw{
	padding:5px 5px;
	width: 45px;
	height: 45px;
	outline: none;

}
.rotate-ccw:hover{
	box-shadow: 0 0px 5px 0 rgba(0,0,0,0.20),0 2px 2px 0 rgba(0,0,0,0.12);
}



#btnModifyBanner{
	margin-top: 30px;
	margin-left: 430px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color: white;
    padding: 9px 9px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
	font-family: "Segoe UI";
    outline: none;
}

#btnModifyBanner:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}

#lblBanner{
	position:absolute;
	left:422px;
	top:122px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;
}


.footer {
	position: absolute;
	right: 5px;
    bottom: -6;
    text-align: right;
    padding:15px;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight:600;
}
