ul.topMenu{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f8;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}

ul.topMenu li{
    float: right;
}

ul.topMenu li a{
    cursor: pointer;
    font-weight: 50;
	font-family: "Segoe UI";
    display: block;
    color: #444444;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

ul.topMenu li a:hover{ 
    background-color:#e7e7e7;
}

.active{
    background-color: #e7e7e7;
}

.popup-inner-pics{
	height: 60%;
	width:60%;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
}

.popup-close-pic{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 5%;
	width: 5%; 
}

#previewTitle{
	position: absolute;
	color: white;
	bottom: 0;
	left: 0;
}

h1{
	margin-top: -15px;
	background-color:white;
	color:#444444;
	padding:15px 250px;
	text-align:left;
	font-size: 20px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}

table{
    margin-top:50px;
	margin-left:450px;
	border-collapse: collapse;
    width: 50%;
	border-top:3px solid #dd4b39;
	border-left:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7;
	border-right:1px solid #e7e7e7;
    box-shadow: 0px 1px 3px #dbdfe3;
}

tr:nth-child(even){
background-color: #f9f9f9;
}

tr:nth-child(odd){
background-color:#ffffff;
}

tr:hover{
background-color:#f2f2f2;
}
th{
    color: black;
	font-weight:500;
	font-size: 13px;
	font-family: "Segoe UI";
	padding: 10px 12px;
	background-color:white;
	border-bottom: 2px solid #ddd;
	text-align:center;
}

td{
    border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-weight:400;
	font-size: 12px;
    cursor: pointer;
	font-family: "Segoe UI";
	padding: 1px 10px;
	text-align:center;
	width: 400px;
}


#btnEditHomeBanner{
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 6px 11px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}
#btnEditHomeBanner:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}
#btnAddHomeBanner{
    position: absolute;
    left: 750px;
    top:25px;
    background-color: #f4f4f4;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
	border: 1px solid #dddddd;
	font-family: "Segoe UI";
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#btnAddHomeBanner:hover {
    color: black;
	background-color:#e7e7e7;
	border:1px solid #adadad;
}

#iconEdit:before
{
content:url("Icons/iconEdit.png");
vertical-align:middle;
}

.footer {
	position: absolute;
    right: 5px;
    bottom: 0;
    text-align: right;
    padding:15px;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight:600;
}