  #forbcontainer{
        margin: 0 auto;
        width:80%;
    }
    
    #img404{
        width:400px;
    }
    
    #imgcontainer, #lblcontainer{
        text-align: center;
        float: left;
        font-family: century gothic;
        font-weight: bold;
        font-size: 30pt;
        width:50%;
    }
    #lblcontainer{
        padding: 80px;
        padding-top: 50px;
    }
    #lblcontainer span{
        font-size: 100pt;
    }