h1{
	background-color:white;
	color:#444444;
	padding:15px 250px;
	text-align:left;
	font-size: 20px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}

#divCriticalStocks{
	position: relative;
	top:20px;
	left:300px;
    border-top:3px solid #dd4b39;
    background-color: white;
    width:70%;
	height: 700px;
    border-radius: 3px;
    border-bottom:1px solid #e4e8ed;
    border-right:1px solid #e4e8ed;
    border-left:1px solid #e4e8ed;
    box-shadow: 0px 1px 3px #dbdfe3;
	font-family: "Segoe UI"; 
}

#divSearch{
	margin-left: 20px;
	margin-top: 20px;
	font-size: 14px;
	font-family: "Segoe UI"; 
    font-weight: 400;
}
#divSort{	
	position: absolute;
	top:30px;
	left:650px;
	font-size: 14px;
	font-family: "Segoe UI"; 
    font-weight: 400;
}
#selSearch{
    width: 130px;
	height:32px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#txtSearch{
    width:250px;
	height:32px;
    padding: 5px 5px;
    border-left: 1.5px solid #dddddd;
    border-bottom: 1.5px solid #dddddd;
    border-top: 1.5px solid #dddddd;
	border-radius: 2px;
	font-size: 14px;
	font-family: "Segoe UI";
    outline: none;
}	
#txtSearch:focus {
	border: 1px solid #ccc;
}

#btnSearch{
    position: relative;
    top:11px;
    margin-left: -1px;
    width:18px;
    height: 18px;
    padding: 7px 7px;
    background-color: #dd4b39;
    outline:none;
}

#btnSearch:hover{
    background-color: #d73925;
}

#lblResult{
	position: absolute;
	left:-430px;
	top:36px;
    font-family: "Segoe UI";
    font-size: 13px;
    color:#d73925;
    font-weight: 500;
	border: 1px solid #ccc;
    padding:3px;
}

#selSort{
    width: 225px;
	height:32px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#selSort:focus {
	border: 1px solid #ccc;
}
table{
	margin-top: 30px;
    margin-left:10px;
    border-collapse: collapse;
    width: 98%;
border-top:1px solid #e7e7e7;
}

tr:nth-child(even)
{
background-color: #f9f9f9;
}
tr:nth-child(odd)
{
background-color:#ffffff;
}
tr:hover
{
background-color:#f2f2f2;
}
th{
    color: black;
	font-weight:500;
	font-size: 13px;
	font-family: "Segoe UI";
	padding-top:10px;
	padding-bottom:10px;
	background-color:white;
	border-bottom: 2px solid #ddd;
   	text-align: center;
	width:80px;
}
td{
    border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-weight:400;
	font-size: 13px;
    cursor: pointer;
	font-family: "Segoe UI";
    padding: 5px 5px; 
    text-align: center;
    height: 50px;
}

.updateStocks{
	display: inline-block;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
	margin-left: 20px;
}

.updateStocks:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}   


.cancel-stock{
	display: inline-block;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

..cancel-stock:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}   

.stocks{
	padding:5px;
	width:60px;
	outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}
#btnPagination{
    position:relative;
    left:500px;
    top:200px;
    width:500px;
    height:50px;
    text-align: center;
    font-size: 13px;
	font-family: "Segoe UI";
    font-weight: 450;
    
}

.lblPagination{
    background-color: #ffffff;
    color:#444444;
    border: 1px solid #dddddd;
    text-decoration:none;
    padding:10px 15px;
    margin-left: -5;
    
}

.lblPagination:hover{
    background-color: #dd4b39;
    color:white;   
}

.footer{
    position: relative;
	bottom: 0px;
	right: 5px;
	padding:1em;
    text-align: right;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight:600;
}