
ul.topMenu {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f8;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;

}

ul.topMenu li {
    float: right;
}

ul.topMenu li a{
    cursor: pointer;
    font-weight: 50;
	font-family: "Segoe UI";
    display: block;
    color: #444444;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

ul.topMenu li a:hover { 
    background-color:#e7e7e7;
}

.active {
    background-color: #e7e7e7;
}
h1{
    margin-top: -15px;
	background-color:white;
	color:#444444;
	padding:15px 250px;
	text-align:left;
	font-size: 20px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}

#divColorMenu{
	position: relative;
	left:300px;
    border-top:3px solid #dd4b39;
    background-color: white;
    width:70%;
	height: 800px;
    border-radius: 3px;
    border-bottom:1px solid #e4e8ed;
    border-right:1px solid #e4e8ed;
    border-left:1px solid #e4e8ed;
    box-shadow: 0px 1px 3px #dbdfe3;
	font-family: "Segoe UI"; 
}

#selBrand{
    width: 250px;
	height:35px;
    padding: 5px 10px;
    border-left: 1.5px solid #dddddd;
    border-bottom: 1.5px solid #dddddd;
    border-top: 1.5px solid #dddddd;
	border-radius: 2px;
	font-size: 14px;
	font-family: "Segoe UI";
    outline: none;
}

#selBrand:focus {
	border: 1px solid #ccc;
}

#selFabric{
    width: 250px;
	height:35px;
    padding: 5px 10px;
    border-left: 1.5px solid #dddddd;
    border-bottom: 1.5px solid #dddddd;
    border-top: 1.5px solid #dddddd;
	border-radius: 2px;
	font-size: 14px;
	font-family: "Segoe UI";
    outline: none;
}

#selFabric:focus {
	border: 1px solid #ccc;
}

#selType{
    width: 250px;
	height:35px;
    padding: 5px 10px;
    border-left: 1.5px solid #dddddd;
    border-bottom: 1.5px solid #dddddd;
    border-top: 1.5px solid #dddddd;
	border-radius: 2px;
	font-size: 14px;
	font-family: "Segoe UI";
    outline: none;
}

#selType:focus {
	border: 1px solid #ccc;
}


h3{
    font-size: 18px;
	font-family: "Segoe UI";
    color:#5c5c5c;
    font-weight:500;
    text-align: center;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
    padding:5px;
}

table{
    margin-left:230px;
    border-collapse: collapse;
    width: 50%;
	border-top:1px solid #e7e7e7;
}

tr:nth-child(even)
{
background-color: #f9f9f9;
}
tr:nth-child(odd)
{
background-color:#ffffff;
}
tr:hover
{
background-color:#f2f2f2;
}
th{
    color: black;
	font-weight:500;
	font-size: 13px;
	font-family: "Segoe UI";
	padding: 5px;
	background-color:white;
	border-bottom: 2px solid #ddd;
    text-align: center;
}
td{
    border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-weight:400;
	font-size: 13px;
    cursor: pointer;
	font-family: "Segoe UI";
    padding: 5px 0px; 
    text-align: center;
}

#btnAddInfo{
	position: relative;
	top:5px;
	left:400px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnAddInfo:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}
.footer {
	position: relative;
	right: 5px;
    bottom:0px;
    text-align: right;
    padding:15px;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight:600;
}

#lblWarnBrand{
	position: absolute;
	top:129px;
	left:230px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;
}

#lblWarnFabric{
	position: absolute;
	top:185px;
	left:230px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;
}

#lblWarnType
{
	position: absolute;
	top:129px;
	left:630px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;
}

#lblWarnSizeInfo
{
	position: absolute;
	left:230px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;
}
#lblSizes
{
	position: relative;
	top:-5px;
	left: 230px;
	font-size: 14px;
	font-family: "Segoe UI";
	font-weight:400;
}

/* Color Clothing*/

#divColor{
	position: relative;
	left:280px;
    border-top:3px solid #dd4b39;
    background-color: white;
    width:1000px;
    border-radius: 3px;
    border-bottom:1px solid #e4e8ed;
    border-right:1px solid #e4e8ed;
    border-left:1px solid #e4e8ed;
    box-shadow: 0px 1px 3px #dbdfe3;
    font-size: 15px;
	font-family: "Segoe UI";
}

#txtColorName{
	position: relative;
	left:8px;
	width: 250px;
	height:35px;
    padding: 5px 10px;
    border-left: 1.5px solid #dddddd;
    border-bottom: 1.5px solid #dddddd;
    border-top: 1.5px solid #dddddd;
	border-radius: 2px;
	font-size: 14px;
	font-family: "Segoe UI";
    outline: none;
}

#color
{
	position: relative;
	left:5px;
	width: 250px;
	height:35px;
    padding: 5px 10px;
    border-left: 1.5px solid #dddddd;
    border-bottom: 1.5px solid #dddddd;
    border-top: 1.5px solid #dddddd;
	border-radius: 2px;
	font-size: 14px;
	font-family: "Segoe UI";
    outline: none;
}

.image-editor{
	margin-left: 200px;
}

.btnClear{
	position: relative;
	left: 470px;
	background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

.btnClear:hover {
	
    background-color: #d73925;
    border: 1px solid #ac2925;
}


.fileUpload {
	position: absolute;
	margin-top: 6px;
	overflow: hidden;
	padding: 8px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
	color:white;
	font-size: 13px;
	font-family: "Segoe UI";
}
.fileUpload input.cropit-image-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 8px;
    font-size: 13px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileUpload input.cropit-image-input:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}

#iconUpload:before
{
content:url("icon/iconUpload.png");
vertical-align:middle;
}

#lblWarnColor{
	position:relative;
	left:15px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;
}
#lblWarnTemplateColor{
	margin-top: 20px;
	margin-left: 300px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;		
}

#lblWarnColorStock{
	position: relative;
	top:5px;
	left:230px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;		 
}