h1{
	background-color:white;
	color:#444444;
	padding:15px 250px;
	text-align:left;
	font-size: 20px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}

h3{
    font-size: 18px;
	font-family: "Segoe UI";
    color:#5c5c5c;
    font-weight:500;
    text-align: center;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
    padding:5px;
}
.divSizeInfo{
	position: relative;
	left:300px;
    border-top:3px solid #dd4b39;
    background-color: white;
    width:70%;
	height: 500px;
    border-radius: 3px;
    border-bottom:1px solid #e4e8ed;
    border-right:1px solid #e4e8ed;
    border-left:1px solid #e4e8ed;
    box-shadow: 0px 1px 3px #dbdfe3;
	font-family: "Segoe UI"; 
}

table{
    margin-left:100px;
    border-collapse: collapse;
    width: 80%;
	border-top:1px solid #e7e7e7;
}

tr:nth-child(even)
{
background-color: #f9f9f9;
}
tr:nth-child(odd)
{
background-color:#ffffff;
}
tr:hover
{
background-color:#f2f2f2;
}
th{
    color: black;
	font-weight:500;
	font-size: 13px;
	font-family: "Segoe UI";
	padding: 10px;
	background-color:white;
	border-bottom: 2px solid #ddd;
    text-align: center;
}
td{
    border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-weight:400;
	font-size: 13px;
    cursor: pointer;
	font-family: "Segoe UI";
	text-align: center;
	padding:2px;
}



#btnAddInfo{
	position: relative;
	top:10px;
	left:400px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnAddInfo:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}

#lblWarnSizeInfo{
	position: relative;
	top:5px;
	left:50px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;
}
.footer {
	position:relative;
	right: 0;
    bottom: 0;
    text-align: right;
    padding:15px;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight:600;
}
