ul.topMenu {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f8;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;

}

ul.topMenu li {
    float: right;
}

ul.topMenu li a{
    cursor: pointer;
	font-family: "Segoe UI";
    font-weight: 50;
    display: block;
    color: #444444;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

ul.topMenu li a:hover { 
    background-color:#e7e7e7;
}

.active {
    background-color: #e7e7e7;

}

h1{
    margin-top: -15px;
	background-color:white;
	color:#444444;
	padding:15px 250px;
	text-align:left;
	font-size: 20px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}

h2{
	background-color:white;
	color:#444444;
	padding:15px 250px;
	text-align:left;
	font-size: 20px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}

#btnClothingInfo{
	position: relative;
	top:-62px;
	left:454px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnClothingInfo:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}

#btnCriticalStocks{
        position: relative;
    top:-62px;
    left:460px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnCriticalStocks:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}
#divCloth{
	position: relative;
	left:240px;
	top:-15px;
    border-top:3px solid #dd4b39;
    background-color: white;
    width:80%;
	height: 800px;
    border-radius: 3px;
    border-bottom:1px solid #e4e8ed;
    border-right:1px solid #e4e8ed;
    border-left:1px solid #e4e8ed;
    box-shadow: 0px 1px 3px #dbdfe3;
	font-family: "Segoe UI"; 
}

#tbClothInfo{
    margin-top: 35px;
    margin-left:6px;
	border-collapse: collapse;
    width: 99%;
	border:1px solid #e7e7e7;
}

tr:nth-child(even)
{
background-color: #f9f9f9;
}
tr:nth-child(odd)
{
background-color:#ffffff;
}

tr:hover
{
background-color:#f2f2f2;
}

th{
    color: black;
	font-weight:500;
	font-size: 13px;
	font-family: "Segoe UI";
	background-color:white;
	border-bottom: 2px solid #ddd;
	text-align:center;
	padding: 20px;
}

td{
    border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-size: 12px;
    cursor: pointer;
	font-family: "Segoe UI";
	text-align:center;
    height:50px;
	width: 120px;
}

label{
    font-size: 14px;
	font-family: "Segoe UI"; 
    font-weight: 400;
}

#selSearch{
    width: 130px;
	height:32px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#txtSearch{
    width:250px;
	height:32px;
    padding: 5px 5px;
    border-left: 1.5px solid #dddddd;
    border-bottom: 1.5px solid #dddddd;
    border-top: 1.5px solid #dddddd;
	border-radius: 2px;
	font-size: 14px;
	font-family: "Segoe UI";
    outline: none;
}	
#txtSearch:focus {
	border: 1px solid #ccc;
}

#btnSearch{
    position: relative;
    top:11px;
    margin-left: -1px;
    width:18px;
    height: 18px;
    padding: 7px 7px;
    background-color: #dd4b39;
    outline:none;
}

#btnSearch:hover{
    background-color: #d73925;
}

#lblResult{
    position:absolute;
    left:300px;
    top:146px;
    font-family: "Segoe UI";
    font-size: 13px;
    color:#d73925;
    font-weight: 500;
	border: 1px solid #ccc;
    padding:10px 10px;
}

#selSort{
    width: 225px;
	height:32px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#selSort:focus {
	border: 1px solid #ccc;
}


#fromdate{
	width: 100px;
	height:30px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#fromdate:focus {
	border: 1px solid #ccc;
}


#todate{
	width: 100px;
	height:30px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}
#todate:focus {
	border: 1px solid #ccc;
}

#btnFilter{
	background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnFilter:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}

#salesfrom{
	width: 100px;
	height:30px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}
#salesfrom:focus {
	border: 1px solid #ccc;
}
#salesto{
	width: 100px;
	height:30px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}
#salesto:focus {
	border: 1px solid #ccc;
}
#btnFilterSales{
	background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnFilterSales:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}


#btnViewCloth{
	display: inline-block;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnViewCloth:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}   

#btnAddColor{
	display: inline-block;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
	margin-right: 10px;
}

#btnAddColor:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}   
#btnAddSize{
	display: inline-block;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnAddSize:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}   
#lblResult{
    position:absolute;
    left:555px;
    top:30px;
    font-family: "Segoe UI";
    font-size: 13px;
    color:#d73925;
    font-weight: 500;
	border: 1px solid #ccc;
    padding:10px 10px;
}
#btnPagination{
    position:absolute;
    left:260px;
    top:740px;
    width:500px;
    height:50px;
    text-align: center;
    font-size: 13px;
	font-family: "Segoe UI";
    font-weight: 450;
    
}


.lblPagination{
    background-color: #ffffff;
    color:#444444;
    border: 1px solid #dddddd;
    text-decoration:none;
    padding:10px 15px;
    margin-left: -5;
    
}

.lblPagination:hover{
    background-color: #dd4b39;
    color:white;   
}

#iconAdd:before
{
content:url("icon/iconAdd.png");
vertical-align:middle;
}

#iconView:before
{
content:url("icon/iconView.png");
vertical-align:middle;
}
.footer{
    position: relative;
	bottom: 0px;
	right: 5px;
	padding:1em;
    text-align: right;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight:600;
}