ul.topMenu {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f8;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;

}

ul.topMenu li {
    float: right;
}

ul.topMenu li a{
    cursor: pointer;
	font-family: "Segoe UI";
    font-weight: 50;
    display: block;
    color: #444444;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

ul.topMenu li a:hover { 
    background-color:#e7e7e7;
}
.active {
    background-color: #e7e7e7;
}

h1{
    margin-top: -15px;
	background-color:white;
	color:#444444;
	padding:15px 250px;
	text-align:left;
	font-size: 20px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}

#btnAddCloth{
    position:absolute;
    left:400px;
    top:63px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnAddCloth:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}


#divType{
    position: absolute;
    left:280px;
    top:150px;
    border-top:3px solid #dd4b39;
    background-color: white;
    width:1000px;
    height: 300px;
    border-radius: 3px;
    border-bottom:1px solid #e4e8ed;
    border-right:1px solid #e4e8ed;
    border-left:1px solid #e4e8ed;
    box-shadow: 0px 1px 3px #dbdfe3;
    font-size: 15px;
	font-family: "Segoe UI";
}


#txtSearch{
    width: 250px;
	height:35px;
    padding: 5px 10px;
    border-left: 1.5px solid #dddddd;
    border-bottom: 1.5px solid #dddddd;
    border-top: 1.5px solid #dddddd;
	border-radius: 2px;
	font-size: 14px;
	font-family: "Segoe UI";
    outline: none;
}

#txtSearch:focus {
	border: 1px solid #ccc;
}

#btnSearch{
    position: relative;
    top:12px;
    margin-left: -2px;
    width:21px;
    height: 21px;
    padding: 7px 7px;
    background-color: #dd4b39;
    outline:none;
}

#btnSearch:hover{
    background-color: #d73925;
}
#selSort{
    width: 265px;
	height:35px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

table{
    margin-top: 20px;
    border-collapse: collapse;
    width: 98%;
	border:1px solid #e7e7e7;
    margin-left:10px;
}

tr:nth-child(even)
{
background-color: #f9f9f9;
}
tr:nth-child(odd)
{
background-color:#ffffff;
}

tr:hover
{
background-color:#f2f2f2;
}
th{
    color: black;
	font-weight:500;
	font-size: 13px;
	font-family: "Segoe UI";
	padding: 15px 100px;
	background-color:white;
	border-bottom: 2px solid #ddd;
    text-align: center;
}
td{
    border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-weight:400;
	font-size: 12px;
    cursor: pointer;
	font-family: "Segoe UI";
    padding: 12px 50px; 
    text-align: center;
}



#btnPagination{
    position:absolute;
    left:240px;
    top:255px;
    width:500px;
    height:50px;
    text-align: center;
    font-size: 13px;
	font-family: "Segoe UI";
    font-weight: 450;
    
}

.lblPagination
{
    background-color: #ffffff;
    color:#444444;
    border: 1px solid #dddddd;
    text-decoration:none;
    padding:10px 15px;
    margin-left: -5;
    
}

.lblPagination:hover
{
    background-color: #dd4b39;
    color:white;   
}

.footer {
    position: absolute;
    right: 5px;
    bottom: 0;
    text-align: right;
    padding:15px;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight:600;
}