ul.topMenu {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f8;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;

}

ul.topMenu li {
    float: right;
}

ul.topMenu li a{
    cursor: pointer;
    font-weight: 50;
	font-family: "Segoe UI";
    display: block;
    color: #444444;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

ul.topMenu li a:hover { 
    background-color:#e7e7e7;
}

.active {
    background-color: #e7e7e7;
}

h1{
	margin-top: -15px;
	background-color:white;
	color:#444444;
	height: 15px;
	padding:15px 250px;
	text-align:left;
	font-size: 20px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}
h2{
	margin-top:-15px;
	background-color:white;
	color:#444444;
	padding:15px 250px;
	text-align:left;
	font-size: 20px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}


#divForm{
	position: relative;
	left:240px;
	top:-15px;
    border-top:3px solid #dd4b39;
    background-color: white;
    width:80%;
	border-radius: 3px;
    border-bottom:1px solid #e4e8ed;
    border-right:1px solid #e4e8ed;
    border-left:1px solid #e4e8ed;
    box-shadow: 0px 1px 3px #dbdfe3;
	font-family: "Segoe UI"; 
}

#clothInfo{
	margin-left:380px;
    background-color: white;
	font-family: "Segoe UI"; 
}

#selSearch{
    width: 130px;
	height:32px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#txtSearch{
    width:250px;
	height:32px;
    padding: 5px 5px;
    border-left: 1.5px solid #dddddd;
    border-bottom: 1.5px solid #dddddd;
    border-top: 1.5px solid #dddddd;
	border-radius: 2px;
	font-size: 14px;
	font-family: "Segoe UI";
    outline: none;
}	
#txtSearch:focus {
	border: 1px solid #ccc;
}

#btnSearch{
    position: relative;
    top:11px;
    margin-left: -1px;
    width:18px;
    height: 18px;
    padding: 7px 7px;
    background-color: #dd4b39;
    outline:none;
}

#btnSearch:hover{
    background-color: #d73925;
}

#lblResult{
    position:absolute;
    left:780px;
    top:146px;
    font-family: "Segoe UI";
    font-size: 13px;
    color:#d73925;
    font-weight: 500;
}

#selSort{
    width: 250px;
	height:32px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#selSort:focus {
	border: 1px solid #ccc;
}


#fromdate{
	width: 100px;
	height:30px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#fromdate:focus {
	border: 1px solid #ccc;
}


#todate{
	width: 100px;
	height:30px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}
#todate:focus {
	border: 1px solid #ccc;
}

#btnFilter{
	background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnFilter:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}

#salesfrom{
	width: 100px;
	height:30px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}
#salesfrom:focus {
	border: 1px solid #ccc;
}
#salesto{
	width: 100px;
	height:30px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}
#salesto:focus {
	border: 1px solid #ccc;
}
#btnFilterSales{
	background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnFilterSales:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}


#btnAddSize{
	position: relative;
	top:-148px;
	left:px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnAddSize:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}   

#btnAddColor{
	position: relative;
	top:-148px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnAddColor:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}   

#hideCloth{
	position: relative;
	top:-52px;
	left:640px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#hideCloth:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}
#hideSize{
	position: relative;
	top:-52px;
	left:620px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#hideSize:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}   

h3{
    font-size: 18px;
	font-family: "Segoe UI";
    color:#5c5c5c;
    font-weight:500;
    text-align: center;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
    padding:5px;
}

table{
	border-collapse: collapse;
    width: 98%;
	border:1px solid #e7e7e7;
    margin-left:10px;
}

tr:nth-child(even)
{
background-color: #f9f9f9;
}
tr:nth-child(odd)
{
background-color:#ffffff;
}


tr{
    color: black;
	font-weight:500;
	font-size: 13px;
	font-family: "Segoe UI";
	background-color:white;
	text-align:center;
}

td{
    border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-weight:400;
	font-size: 12px;
    cursor: pointer;
	font-family: "Segoe UI";
	padding: 7px 15px;
	text-align:center;
	width: 70px;
	
}

.price{
	padding:5px;
	width:60px;
	outline:none;
    font-family: "Segoe UI"; 
}

.stocks{
	padding:5px;
	width:60px;
	outline:none;
    font-family: "Segoe UI"; 
}

.updatePrice{
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

.updatePrice:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}

.cancel-stock{
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

.cancel-stock:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}
.updateStocks{
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

.updateStocks:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}


.addStocks{
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

.addStocks:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}

#lblWarnSize{
	position:relative;
	left:350px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;		 
}
#lblResult{
    position:absolute;
    left:140px;
    top:70px;
    font-family: "Segoe UI";
    font-size: 13px;
    color:#d73925;
    font-weight: 500;
}
.footer{
    position: relative;
	bottom: 0px;
	right: 5px;
	padding:1em;
    text-align: right;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight:600;
}


