#bg1
{
	position:absolute;
	left:3px;
	top:80px;
    width: 1360px;
	height:500px;
	background-color:white;
	box-shadow: 0px 0px 7px #888888;
}

#iconPhone
{
	position:absolute;
	left:620px;
	top:100px;
	width: 80px;
	height:80px;

}
#lblCPV
{
	position:absolute;
	left:400px;
	top:190px;
	font-size: 40px;
	font-weight:200;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}

#lblCCN
{
	position:absolute;
	left:450px;
	top:260px;
	font-size: 20px;
	font-weight:200;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}

#Cpnumber
{

	position:absolute;
	left:700px;
	top:254px;
	font-size: 27px;
	font-weight: 400;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}

#changeCP
{
	position:absolute;
	left:512px;
	top:310px;
	width: 300px;
	height:35px;
    background-color: #df6a1d;
    border: none;
    color: white;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}

#spanChangeCP
{
	position:absolute;
	left:422px;
	top:310px;
}

#lblChange
{
	position:absolute;
	left:17px;
	top:8px;
	font-size: 20px;
	font-weight:500;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}

#txtChangeCP
{
	position:absolute;
	left:60px;
	top:1px;
    width: 230px;
	height:35px;
    padding: 10px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1.5px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
	border-radius: 2px;
	background-color:white;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}
#txtChangeCP:focus
{
  box-shadow: 0 0 3px #df6a1d;
  border: 1px solid #df6a1d;
}
#cancelCPChange
{
	position:absolute;
	left:295px;
	top:5px;	
	width: 200px;
	height:35px;
    background-color: #df6a1d;
    border: none;
    color: white;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
	letter-spacing: 1px;
	font-family: "Segoe UI";
 
}
  
#lblPlease
{
	position:absolute;
	left:325px;
	top:370px;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}
 
#lblVerification
{
	position:absolute;
	left:485px;
	top:430px;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}

#txtVerifyCode
{
	position:absolute;
	left:485px;
	top:450px;
    width: 230px;
	height:35px;
    padding: 10px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1.5px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
	border-radius: 2px;
	background-color:white;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}
#txtVerifyCode:focus
{
  box-shadow: 0 0 3px #df6a1d;
  border: 1px solid #df6a1d;
}
#lblWarnVerifyCode
{
	position:absolute;
	left:487px;
	top:492px;
	font-size: 12px;
	color:#df6a1d;
	font-weight: 400;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}
#btnVerifyCP
{
	position:absolute;
	left:720px;
	top:454px;
    width: 200px;
	height:35px;
    background-color: #1d6fdf;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}
#lblResend

{
position:absolute;
	left:300px;
	top:540px;
    text-decoration: none;
    font-size: 15px;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}
#btnResend
{
	position:absolute;
	left:995px;
	top:540px;
    text-decoration: none;
	color:red;
    font-size: 15px;
	font-weight:400;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}
#btnResend:hover
{
    text-decoration: underline;
}

#btnResend:active
{
    text-decoration: underline;
}

#iconPhones
{
	position:absolute;
	left:400px;
	top:417px;
	width: 100px;
	height:100px;

}