body{
  padding: 5% 0 0;
  margin: auto; 
}

#bg1{
	background-color:white;
	box-shadow: 0px 0px 7px #888888;
	position: relative;
	z-index: 1;
	max-width: 320px;
	height:330px;
	margin: 0px auto 100px;
	padding: 45px;
	text-align: center;
}

#logo{
	background-color:#2c3b41;
	border-bottom:2px solid #f0f0f0;
	border-top:2px solid #f0f0f0;
	border: 0;
	margin-top:-30px;
	margin-left:-45px;
	padding: 17.5px 155px;
	height:65px;
	max-width:100px;
	width:100%;
	
}

#txtLogIn{
	font-size: 18px;
	font-weight:450;
	font-family: "Segoe UI";
	color:black;
	}

#txtEm{
	margin-top:25px;
    width: 94%;
	height:35px;
    padding: 3px 40px;
    display: inline-block;
    border: 1.5px solid #ccc;
    transition: 0.4s;
    outline: none;
    border-radius: 2px;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}

#txtEm:focus{
	border: 1px solid #2c3b41;
	box-shadow: 0px 0px 1px #2c3b41;
}

#txtPw{
	margin-top:25px;
    width: 94%;
	height:35px;
    padding: 3px 40px;
    border: 1.5px solid #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
	border-radius: 2px;
	background-color:white;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: "Segoe UI";
    outline: none;
}	
#txtPw:focus {
	border: 1px solid #2c3b41;
	box-shadow: 0px 0px 1px #2c3b41;
}

#btnlog{
	margin-top:47px;
	border-radius: 3px;
    padding: 10px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
    color: #2c3b41;
    border: 1px solid #2c3b41;
	outline: none;
}

#btnlog:hover {
    background-color: #2c3b41;
    color: white;
}


#lblWarnEmail{
	position:absolute;
	left:55px;
	top:228px;
	font-size: 11px;
	font-weight:400;
	color:#cf2a31;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}

#lblWarnPass{
	position:absolute;
	left:55px;
	top:290px;
	font-size: 11px;
	font-weight:400;
	color:#cf2a31;
	letter-spacing: 1px;
	font-family: "Segoe UI";
}

#iconEmail{
	position:absolute;
	left:63px;
	top:195px;
	width: 23px;
	height:23px;
}

#iconPass{
	position:absolute;
	left:63px;
	top:255px;
	color: white;
	width: 23px;
	height:23px;
}

.footer {
    position: absolute;
    left:  0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding:15px;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight:600;
    background-color: white;
    border-top:1px solid #dddddd;
}