ul.topMenu {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f8;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;

}

ul.topMenu li {
    float: right;
}

ul.topMenu li a{
    cursor: pointer;
    font-weight: 50;
	font-family: "Segoe UI";
    display: block;
    color: #444444;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

ul.topMenu li a:hover { 
    background-color:#e7e7e7;
}

.active {
    background-color: #e7e7e7;
}

h1{
    margin-top: -15px;
	background-color:white;
	color:#444444;
	padding:15px 250px;
	text-align:left;
	font-size: 20px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}

#divAddType{
	position: relative;
	left:570px;
	top:0px;
	z-index: 1;
    border-top:3px solid #dd4b39;
    background-color: white;
    max-width:29%;
    height: 40%;
	max-height: 50%;
    border-radius: 3px;
    border-bottom:1px solid #e4e8ed;
    border-right:1px solid #e4e8ed;
    border-left:1px solid #e4e8ed;
    box-shadow: 0px 1px 3px #dbdfe3;
}
label{
    font-size: 14px;
	font-family: "Segoe UI"; 
    font-weight: 400;
}

#lblAdd{
	position: relative;
	top:5px;
	left:10px;
	font-weight:500;
    font-size: 20px;
	font-family: "Segoe UI";
    color:#5c5c5c;
}
#divline{
	position: relative;
	top:10px;
    border-bottom: 1px solid #f4f4f4;
}

#selClothing{
	font-weight:500;
    font-size: 15px;
	height:32px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#selClothing:focus {
	border: 1px solid #2c3b41;
	box-shadow: 0px 0px 1px #2c3b41;
}

#selColor{
	font-weight:500;
    font-size: 15px;
	height:32px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#selColor:focus {
	border: 1px solid #2c3b41;
	box-shadow: 0px 0px 1px #2c3b41;
}


#lblWarnClothing{
	position:absolute;
	left:80px;
	top:103px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;
}

#lblWarnColor{
	position:absolute;
	left:80px;
	top:155px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;
}

#btnAdd{
	position:relative;
	top:25px;
	left:80px;
    background-color: #f4f4f4;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
	border: 1px solid #dddddd;
	font-family: "Segoe UI";
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    outline:none;

}

#btnAdd:hover {
    color: black;
	background-color:#e7e7e7;
	border:1px solid #adadad;
}

.footer {
	position: absolute;
	right: 5px;
    bottom: 0px;
    text-align: right;
    padding:15px;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight:600;
}