ul.topMenu {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f8;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;

}

ul.topMenu li {
    float: right;
}

ul.topMenu li a{
    cursor: pointer;
    font-weight: 50;
	font-family: "Segoe UI";
    display: block;
    color: #444444;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

ul.topMenu li a:hover { 
    background-color:#e7e7e7;
}

.active {
    background-color: #e7e7e7;
}

h1{
    margin-top: -15px;
	background-color:white;
	color:#444444;
	padding:15px 250px;
	text-align:left;
	font-size: 20px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}

#divAddDesign{
	position: relative;
	left:570px;
	top:0px;
    border-top:3px solid #dd4b39;
    background-color: white;
    width: 400px;
    height: 310px;
    border-radius: 3px;
    border-bottom:1px solid #e4e8ed;
    border-right:1px solid #e4e8ed;
    border-left:1px solid #e4e8ed;
    box-shadow: 0px 1px 3px #dbdfe3;
}

#lblAdd{
	position: relative;
	top:5px;
	left:10px;
	font-weight:500;
    font-size: 20px;
	font-family: "Segoe UI";
    color:#5c5c5c;
}
#divline{
	position: relative;
	top:10px;
    border-bottom: 1px solid #f4f4f4;
}
	
#selPm{
	font-weight:500;
    font-size: 15px;
    width: 200px;
	height:35px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}
#defPrice{
	font-weight:500;
    font-size: 15px;
    width: 200px;
	height:35px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}
#priceInc{
	font-weight:500;
    font-size: 15px;
    width: 200px;
	height:35px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#lblWarnPM{
	position:absolute;
	left:150px;
	top:106px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;
	
}

#lblWarnDefPrice{
	position:absolute;
	left:150px;
	top:162px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;
	
}

#lblWarnPriceInc{
	position:absolute;
	left:150px;
	top:218px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;
}

#btnPm{
	position:relative;
	top:35px;
	left:110px;
    background-color: #f4f4f4;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
	border: 1px solid #dddddd;
	font-family: "Segoe UI";
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    outline:none;

}

#btnPm:hover {
    color: black;
	background-color:#e7e7e7;
	border:1px solid #adadad;
}

.footer {
	position: absolute;
	right: 5px;
    bottom: 0px;
    text-align: right;
    padding:15px;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight:600;
}

