ul.topMenu {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f8;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;

}

ul.topMenu li {
    float: right;
}

ul.topMenu li a{
    cursor: pointer;
    font-weight: 50;
	font-family: "Segoe UI";
    display: block;
    color: #444444;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

ul.topMenu li a:hover { 
    background-color:#e7e7e7;
}

.active {
    background-color: #e7e7e7;
}

h1{
    margin-top: -15px;
	background-color:white;
	color:#444444;
	padding:15px 250px;
	text-align:left;
	font-size: 20px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}

#btnAddType{
	position: relative;
	top:-62px;
	left:535px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnAddType:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}

#divAddType{
	position: relative;
	left:300px;
	top:-15px;
    border-top:3px solid #dd4b39;
    background-color: white;
    width:70%;
	height: 800px;
    border-radius: 3px;
    border-bottom:1px solid #e4e8ed;
    border-right:1px solid #e4e8ed;
    border-left:1px solid #e4e8ed;
    box-shadow: 0px 1px 3px #dbdfe3;
}

#txtSearch{
    width:250px;
	height:32px;
    padding: 5px 5px;
    border-left: 1.5px solid #dddddd;
    border-bottom: 1.5px solid #dddddd;
    border-top: 1.5px solid #dddddd;
	border-radius: 2px;
	font-size: 14px;
	font-family: "Segoe UI";
    outline: none;
}	
#txtSearch:focus {
	border: 1px solid #ccc;
}

#btnSearch{
    position: relative;
    top:11px;
    margin-left: -1px;
    width:18px;
    height: 18px;
    padding: 7px 7px;
    background-color: #dd4b39;
    outline:none;
}

#btnSearch:hover{
    background-color: #d73925;
}

#lblResults{
    position:absolute;
    left:180px;
    top:70px;
    font-family: "Segoe UI";
    font-size: 12px;
    color:#d73925;
    font-weight: 500;
	border: 1px solid #ccc;
	padding:5px 10px;
}

#selSort{
    width: 245px;
	height:32px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

table{
	margin-top:40px;
	margin-left:185px;
	border-collapse: collapse;
    width: 60%;
	border:1px solid #e7e7e7;
}

tr:nth-child(even){
background-color: #f9f9f9;
}

tr:nth-child(odd){
background-color:#ffffff;
}

tr:hover{
background-color:#f2f2f2;
}

th{
    color: black;
	font-weight:500;
	font-size: 13px;
	font-family: "Segoe UI";
	padding: 11px 10px;
	background-color:white;
	border-bottom: 2px solid #ddd;
	text-align:center;
}

td{
    border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-size: 12px;
    cursor: pointer;
	font-family: "Segoe UI";
	text-align:center;
    height:55px;
}

.availability{
	width: 95px;
	height:32px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dd4b39;
}

#btnPagination{
    position:absolute;
	top:740px;
	left:200px;
    width:500px;
    height:50px;
    text-align: center;
    font-size: 13px;
	font-family: "Segoe UI";
    font-weight: 450;
}

.lblPagination{
    background-color: #ffffff;
    color:#444444;
    border: 1px solid #dddddd;
    text-decoration:none;
    padding:10px 15px;
    margin-left: -5;
    
}

.lblPagination:hover
{
    background-color: #dd4b39;
    color:white;   
}

.footer {
	position: relative;
	right: 5px;
    bottom:-8;
    text-align: right;
    padding:15px;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight:600;
}