h1{
	background-color:white;
	color:#444444;
	padding:20px 250px;
	text-align:left;
	font-size: 38px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}

#divEditProduct{
    margin-left: 560px;
    width: 440px;
    height: 350px;
    border-top:3px solid #dd4b39;
    background-color: white;
    border-radius: 3px;
    border-bottom:1px solid #e4e8ed;
    border-right:1px solid #e4e8ed;
    border-left:1px solid #e4e8ed;
    box-shadow: 0px 1px 3px #dbdfe3;
    padding:15px;
}
#lblEditProd
{
    margin-left: 10px;
    font-weight:500;
    font-size: 20px;
	font-family: "Segoe UI";
    color:#5c5c5c;
}
#divline{
    position:absolute;
    top:195px;
    left:560px;
    width:470px;
    border-bottom: 1px solid #f4f4f4;
}
#pdId1{
    margin-left: 20px;
    font-weight:400;
    font-size: 15px;
	font-family: "Segoe UI";
}
#pdId{
    margin-left:130px;
    font-weight:500;
    font-size: 15px;
	font-family: "Segoe UI";
}
#pdName1{
    margin-left: 20px;
    font-weight:400;
    font-size: 15px;
	font-family: "Segoe UI";
}
#pdName{
    margin-left: 105px;
    font-weight:500;
    font-size: 15px;
	font-family: "Segoe UI";
}


#lblPriceSmall{
    margin-left:20px;
    font-size: 15px;
	font-family: "Segoe UI";
}
#txtPriceNormal{
    margin-left:10px;
    font-weight:500;
    font-size: 15px;
    width: 200px;
	height:35px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
    outline:none;

}
#txtPriceNormal:focus {
	border: 1px solid #2c3b41;
	box-shadow: 0px 0px 1px #2c3b41;
}

#lblPriceXL{
    margin-left:20px;
    font-size: 15px;
	font-family: "Segoe UI";
}
#txtPriceXL{
    margin-left:79px;
    font-weight:500;
    font-size: 15px;
    width: 200px;
	height:35px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
    outline:none;

    
}
#txtPriceXL:focus {
	border: 1px solid #2c3b41;
	box-shadow: 0px 0px 1px #2c3b41;
}
#lblPriceXXL{
     margin-left:20px;
    font-size: 15px;
	font-family: "Segoe UI";
}
#txtPriceXXL{
    margin-left: 71px;
    font-weight:500;
    font-size: 15px;
    width: 200px;
	height:35px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
    outline:none;

}

#txtPriceXXL:focus {
	border: 1px solid #2c3b41;
	box-shadow: 0px 0px 1px #2c3b41;
}

#btnEditProduct{
    margin-top: 10px;
    margin-left: 168px;
    background-color: #f4f4f4;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
	border: 1px solid #dddddd;
	font-family: "Segoe UI";
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    outline:none;

}

#btnEditProduct:hover {
    color: black;
	background-color:#e7e7e7;
	border:1px solid #adadad;
}


#lblWarnNormal{
    position:absolute;
    top:302px;
    left:950px;
    font-size: 13px;
    font-family: "Segoe UI";
    color:#dd4b39;
}

#lblWarnXL{
    position:absolute;
    top:355px;
    left:950px;
    font-size: 13px;
    font-family: "Segoe UI";
    color:#dd4b39;
}

#lblWarnXXL{
    position:absolute;
    top:410px;
    left:950px;
    font-size: 13px;
    font-family: "Segoe UI";
    color:#dd4b39;
}

.footer {
    position: absolute;
    right: 10;
    bottom: 0;
    left: 206px;
    padding: 1rem;
    text-align: right;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight:600;
}