
ul.topMenu {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f8;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;

}

ul.topMenu li {
    float: right;
}

ul.topMenu li a{
    cursor: pointer;
    font-weight: 50;
	font-family: "Segoe UI";
    display: block;
    color: #444444;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

ul.topMenu li a:hover { 
    background-color:#e7e7e7;
}

.active {
    background-color: #e7e7e7;
}

#previewTitle{
	position:absolute;
	color:white;
	bottom:0;
	left:0;
}

#titleSetImages{
	height:5%;
	padding-left:7%;
	padding-top:5%;
	padding-bottom:5%;
	font-size:100%;
}

.selectedImage{
	border-radius:3px;
	background:rgba(220, 218, 218, 0.75);
}

#imgPreview{
	width:100%;
	position:relative;
	top:1%;
}

#image0, #image1, #image2, #image3{
	width:35%;
	padding-top:5%;
	padding-bottom:5%;
	padding-left: 7.5%;
	padding-right: 7.5%;
	height: 40%;
	float: left;
}

#productPics{
	background-color: white;
	width:30%; 
	height: 100%;
	float: left;
}

#previewImage{
	box-shadow: 5px 5px 5px black;
	margin:auto;
	height:90%;
	position:absolute;    
	top: 0;left: 0;right: 0;
}

#divPreview{
	float:left;
	position:relative;
	width:70%;
	height:100%;
}

.popup-inner-stocks {
	width:10%;
	max-height: 80%;
	padding:50px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	box-shadow:0px 2px 6px rgba(0,0,0,1);
	border-radius:3px;
	background:#fff;
}

.popup-inner-prod-pics {
	height: 80%;
	width:70%;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
}

.popup-close-prod{
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
    text-decoration:none;
}

h1{
    margin-top: -15px;
	background-color:white;
	color:#444444;
	padding:15px 250px;
	text-align:left;
	font-size: 20px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}
#btnAddProduct{
	position: relative;
	top:-62px;
	left:535px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnAddProduct:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}

#divShirtDesign{
	position: relative;
	left:240px;
	top:-15px;
    border-top:3px solid #dd4b39;
    background-color: white;
    width:80%;
	height: 940px;
    border-radius: 3px;
    border-bottom:1px solid #e4e8ed;
    border-right:1px solid #e4e8ed;
    border-left:1px solid #e4e8ed;
    box-shadow: 0px 1px 3px #dbdfe3;
	font-family: "Segoe UI"; 
}

label{
    font-size: 14px;
	font-family: "Segoe UI"; 
    font-weight: 400;
}
#selSearch{
    width: 130px;
	height:32px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#txtSearch{
    width:250px;
	height:32px;
    padding: 5px 5px;
    border-left: 1.5px solid #dddddd;
    border-bottom: 1.5px solid #dddddd;
    border-top: 1.5px solid #dddddd;
	border-radius: 2px;
	font-size: 14px;
	font-family: "Segoe UI";
    outline: none;
}	
#txtSearch:focus {
	border: 1px solid #ccc;
}

#btnSearch{
    position: relative;
    top:11px;
    margin-left: -1px;
    width:18px;
    height: 18px;
    padding: 7px 7px;
    background-color: #dd4b39;
    outline:none;
}

#btnSearch:hover{
    background-color: #d73925;
}

#lblResult{
    position:absolute;
    left:520px;
    top:26px;
    font-family: "Segoe UI";
    font-size: 13px;
    color:#d73925;
    font-weight: 500;
	border: 1px solid #ccc;
    padding:10px 10px;
}

#selSort{
    width: 225px;
	height:32px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#selSort:focus {
	border: 1px solid #ccc;
}


table {
    margin-top: 35px;
    margin-left:6px;
	border-collapse: collapse;
    width: 99%;
	border:1px solid #e7e7e7;
}

tr:nth-child(even)
{
background-color: #f9f9f9;
}
tr:nth-child(odd)
{
background-color:#ffffff;
}

tr:hover
{
background-color:#f2f2f2;
}

th{
    color: black;
	font-weight:500;
	font-size: 13px;
	font-family: "Segoe UI";
	background-color:white;
	border-bottom: 2px solid #ddd;
	text-align:center;
	padding: 15px;
}

td{
    border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-size: 12px;
    cursor: pointer;
	font-family: "Segoe UI";
	text-align:center;
    height:60px;
	width: 40px;
	padding: 5px;
}

#btnAdd{
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnAdd:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}
#btnView{
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;

}

#btnView:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}


#btnPagination{
    position:absolute;
	top:880px;
	left:405px;
    font-size: 13px;
	font-family: "Segoe UI";
    font-weight: 450;
}

.lblPagination{
    background-color: #ffffff;
    color:#444444;
    border: 1px solid #dddddd;
    text-decoration:none;
    padding:10px 15px;
    margin-left: -5;
}

.lblPagination:hover{
    background-color: #dd4b39;
    color:white;   
}


.footer {
	position: relative;
	right: 5px;
    bottom:-8;
    text-align: right;
    padding:15px;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight:600;
}