h1{
	background-color:white;
	color:#444444;
	padding:20px 250px;
	text-align:left;
	font-size: 38px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}

#divAddShirt{
	position: relative;
	left:300px;
	top:-15px;
    border-top:3px solid #dd4b39;
    background-color: white;
    width:70%;
    border-radius: 3px;
    border-bottom:1px solid #e4e8ed;
    border-right:1px solid #e4e8ed;
    border-left:1px solid #e4e8ed;
    box-shadow: 0px 1px 3px #dbdfe3;
    font-size: 15px;
	font-family: "Segoe UI";
}

#selProdCat{
	position: relative;
    left:60px;
    width: 220px;
	height:35px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#txtProdName{
	position: relative;
    left:59px;
    width: 220px;
	height:35px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#txtProdDesc{
	position: relative;
	top:-20px;
    left:195px;
    width: 400px;
	max-width: 400px;
	height:200px;
	max-height: 200px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

h3{
    font-size: 18px;
	font-family: "Segoe UI";
    color:#5c5c5c;
    font-weight:500;
    text-align: center;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
    padding:5px;
}

#lblWarnCat{
	position:relative;
	left:70px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;
}

#lblWarnProdName{
	position:relative;
	left:68px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;
}

#lblWarnProdDesc{
	position:relative;
	left:205px;
	top:-130px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;
}

#uploadProduct{
	margin-left: 280px;
}


.btnClear{
	position: relative;
	left:10px;
	background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

.btnClear:hover {
	
    background-color: #d73925;
    border: 1px solid #ac2925;
}





#btnModifyProduct{
	position: relative;
	left:420px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnModifyProduct:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}

.footer {
	position: relative;
	right: 5px;
    bottom: 0px;
    text-align: right;
    padding:15px;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight:600;
}

.image-editor{
	position: relative;
	left:70px;
}

#lblWarnBack{
	position: relative;
	left:30px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;
}
#lblWarnFront{
	position: relative;
	left:30px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;	
}