
/* For mobile phones: */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	
}

 /* For tablets: */
@media only screen and (min-width: 481px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
	
}
/* For desktop: */
@media only screen and (min-width: 801px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}	
	
	h1{
		font-family:century gothic;
		font-weight:bold;
	}
	#divreg{
		position:relative;
		padding:20px;
        padding-top:0px;
	}
	
	#spw{
		font-size:8pt;
	}
	.errors{
		color:red;
		display:hidden;
		font-size:9pt;
		margin-top:2px;
	}
	
	.divreg1{
		height:70px;
		width:210px;
		padding:10px;
		font-family:century gothic;
		font-weight:bold;
		font-size:9pt;
	}
	
	#divreg1{
		float:left;
		margin-bottom:10px;
	}
	
    #divaddress{
        padding:10px;
        font-family:century gothic;
		font-weight:bold;
		font-size:9pt;
        
    }
    
    #divaddress select{
        padding:5px;
		font-size:10pt;
        width:200px;
    }
    
    #txtSt{
        width:400px;
    }
    
	#divreg2{
		height:70px;
	}
	
	#divreg3{
		height:90px;
		margin-top:10px;
		margin-bottom:50px;
	}
	
	#req{
		color:Red;
		font-weight:bold;
	}
	#txtcn{
		width:150px;
	}
	
	#Reg{
		text-align:right;
		font-family:Century Gothic;
		font-size:8pt;
	}
	
	
	#cptcha{
		margin-top:20px;
		padding:10px;
	}
	
	#btnRegister1{
		width:100px;
		height:auto;
		padding-left:20px;
		padding-right:20px;
		padding-top:10px;
		padding-bottom:10px;
		font-family:basic title font;
		font-size:12pt;
		background-color:#222d32;
		font-weight:bold;
		color:White;
		border:3px solid #222d32;
		outline:none;
		cursor:pointer;
		
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	#txtFN,#txtLN,#txtEmail,#txtPassword,#txtCP,#txtCN,#txtSt{
		font-family:Century Gothic;
		padding:5px;
		font-size:12pt;
		margin-bottom:2px;
		outline:none;
	}
	
	fieldset{
		border:1px solid lightgray;
	}
	
	#f2{
		height:130px;
	}
	legend{
		font-family:Century Gothic;
		font-weight:bold;
		color:black;
		padding:3px;
		background-color:lightgray;
	}
	
}