body{
	height: auto;
}
.popup-inner-pics {
	height: 60%;
	width:60%;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
}

.popup-close-pic{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 5%;
	width: 5%; 
}

#previewTitle{
	position: absolute;
	color: white;
	bottom: 0;
	left: 0;
}

h1{
	background-color:white;
	color:#444444;
	padding:20px 250px;
	text-align:left;
	font-size: 38px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}

#btnCategory{
	position:absolute;
            left:670px;
    top:30px;
    background-color: #f4f4f4;
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
	border: 1px solid #dddddd;
	font-family: "Segoe UI";
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#btnCategory:hover {
    color: black;
	background-color:#e7e7e7;
	border:1px solid #adadad;
}


table {
    margin-top:50px;
	margin-left:300px;
	border-collapse: collapse;
    width: 70%;
	border-top:3px solid #dd4b39;
	border-left:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7;
	border-right:1px solid #e7e7e7;
    box-shadow: 0px 1px 3px #dbdfe3;
}

tr:nth-child(even){
background-color: #f9f9f9;
}

tr:nth-child(odd){
background-color:#ffffff;
}

tr:hover{
background-color:#f2f2f2;
}

th{
    color: black;
	font-weight:500;
	font-size: 13px;
	font-family: "Segoe UI";
	padding: 10px 12px;
	background-color:white;
	border-bottom: 2px solid #ddd;
	text-align:center;
}

td{
    border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-weight:400;
	font-size: 12px;
    cursor: pointer;
	font-family: "Segoe UI";
	text-align:center;
            padding: 0px 5px;
            height: 50px;
}

.btnView{
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}
.btnView:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}

.btnViewProduct{
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}
.btnViewProduct:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}

.btnEdit{
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

.btnEdit:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}

#iconEdit:before
{
content:url("Icons/iconEdit.png");
vertical-align:middle;
}

#iconView:before
{
content:url("Icons/iconView.png");
vertical-align:middle;
}

.footer {
	position: relative;
	right: 5px;
    bottom:-8;
    text-align: right;
    padding:15px;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight:600;
}