.popup-inner-pics {
	height: 60%;
	width:60%;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
}

.popup-close-pic{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 5%;
	width: 5%; 
}

#previewTitle{
	position: absolute;
	color: white;
	bottom: 0;
	left: 0;
}

h1{
	background-color:white;
	color:#444444;
	padding:15px 250px;
	text-align:left;
	font-size: 20px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}

#divCatban{
    border-top: 3px solid #dd4b39;
	max-width:80%;
	height: 520px;
	margin-left:235px;
    background-color: white;
    border-radius: 2px;
    border-bottom:1px solid #e4e8ed;
    border-right:1px solid #e4e8ed;
    border-left:1px solid #e4e8ed;
    box-shadow: 0px 1px 3px #dbdfe3;
}

#lblcatban{
	position:relative;
	left:15px;
	font-size: 20px;
	font-family: "Segoe UI";
	font-weight:500;
    border:none;
    color:#444444;
}

#lblEmptyPic{
	position:absolute;
	top:115px;
	left:420px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925
}
.btnClear{
	position:relative;
	top:2px;
	left:830px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 8px 11px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}
.btnClear:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}

#iconClear:before
{
	content:url("Icons/iconClear.png");
	vertical-align:middle;
}

.cropit-preview{
	position:relative;
	left:33px;
	top:5px;
	height:250px; 
	width:1000px;
}

.image-editor{
}

.rotate-ccw{
	position:relative;
	top:20px;
	left:920px;
	height:40px; 
	width:40px;
	outline:none;
}
.rotate-ccw:hover{
	box-shadow: 0 0px 5px 0 rgba(0,0,0,0.20),0 2px 2px 0 rgba(0,0,0,0.12);
}

.rotate-cw{
	position:relative;
	top:20px;
	left:1000px;
	height:40px; 
	width:40px;
	outline:none;

}
.rotate-cw:hover{
	box-shadow: 0 0px 5px 0 rgba(0,0,0,0.20),0 2px 2px 0 rgba(0,0,0,0.12);
}
.cropit-image-zoom-input{
	position:relative;
	top:10px;
	left:735px;
}


.fileUpload {
	position: absolute;
	left:270px;
	top:420px;
	overflow: hidden;
	padding: 8px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
	color:white;
	font-size: 13px;
	font-family: "Segoe UI";
}
.fileUpload input.cropit-image-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 8px;
    font-size: 13px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileUpload input.cropit-image-input {
    background-color: #d73925;
    border: 1px solid #ac2925;
}

#iconUpload:before
{
content:url("Icons/iconUpload.png");
vertical-align:middle;
}

/*------------Edit Category------------*/

#lblCatId1{
	position:absolute;
	top:470px;
	left:315px;
	font-size: 15px;
	font-family: "Segoe UI";
	font-weight:600;
	color:black;
}

#lblCatId{
	position:absolute;
	top:470px;
	left:350px;
	font-size: 15px;
	font-family: "Segoe UI";
	font-weight:400;
	color:black;
}


#lblCatName{
	position:absolute;
	top:500px;
	left:350px;
	font-size: 15px;
	font-family: "Segoe UI";
	font-weight:400;
	color:black;
}

#lblCatName1{
	position:absolute;
	top:500px;
	left:290px;
	font-size: 15px;
	font-family: "Segoe UI";
	font-weight:600;
	color:black;
}

#lblcat{
	position:absolute;
	top:530px;
	left:267px;
	font-size: 15px;
	font-family: "Segoe UI";
	font-weight:600;
	color:black;
}
#catName{
	position:absolute;
	top:530px;
	left:350px;
	font-size: 15px;
	font-family: "Segoe UI";
	font-weight:400;
	color:black;
}

/*------------Add Category------------*/
#lblCatName2{
	position:absolute;
	top:490px;
	left:287px;
	font-size: 15px;
	font-family: "Segoe UI";
	font-weight:600;
	color:black;
}
#txtSubCatName{
	position:absolute;
	top:485px;
	left:350px;
    width: 195px;
	height:30px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 1.5px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
	border-radius: 2px;
	background-color:white;
	font-size: 14px;
	font-family: "Segoe UI";
	font-weight:200;
}

#txtSubCatName:focus {
  border: 1px solid #222d32;
}

#lblEmptySubCat{
	position:absolute;
	top:490px;
	left:550px;
	font-size: 13px;
	font-family: "Segoe UI";
	font-weight:400;
	color:#d73925;
}

#selCatName{
	position:absolute;
	top:525px;
	left:350px;	
	height:30px;
	font-size: 14px;
	font-family: "Segoe UI";
	font-weight:400;
	color:black;
    border: 1.5px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
	border-radius: 2px;
}

#btnModifyCat{
	position:relative;
	top:110px;
	left: 450px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color: white;
    padding: 9px 9px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
	font-family: "Segoe UI";
    outline: none;
}

#btnModifyCat:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}

.footer {
	
	position: absolute;
	right: 5px;
    bottom:-8px;
    text-align: right;
    padding:15px;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight:600;
}