#lbls{
		font-family:Century gothic;
	}
	
#divtotal2{
		margin-top:30px;
		padding:10px;
        text-align: right;
	}

#tblhcheckprod{
		border-collapse: collapse;
		width: 100%;
	}

#tblhcheckprod th, #tblhcheckprod td {
    text-align: left;
    padding: 8px;
    font-family:Adam;
    font-weight:bold;
    }

#tblhcheckprod tr:nth-child(even){background-color: #f2f2f2}

#tblhcheckprod th {
    background-color:  #222d32;
    font-family:Century gothic;
    font-weight:bold;
    color: white;
	}

#lblcart{
		font-family:century gothic;
		font-weight:bold;
		text-decoration:none;
		font-size:15pt;
		margin:10px;
	}

#divcart{
		position:relative;
		left:-10px;
		margin-bottom:30px;
	}
.act{
		color:red;
	}

.act1{
		color:black;
	}

#vline{
		font-size:15pt;
		font-family:century gothic;
		font-weight:bold;
	}
	
#selProv,#selTown,#selBrgy{
	margin:10px;
	font-family:Century Gothic;
	font-size:12pt;
}

span{
	float:right;
}
	
#btn-pay{
	padding:20px;
	margin-top:20px;
	padding-left:60px;
	padding-right:60px;
	font-family:basic title font;
	font-size:15pt;
	background-color: #222d32;
	font-weight:bold;
	color:White;
	border:3px solid #222d32;
	outline:none;
	cursor:pointer;
	float:right;
	
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}

#divaddbook{
    margin-bottom: 10px;
    font-family: century gothic;
}

#divpayment{
    font-family: century gothic;
}