#listWithHandle{
    width:250px;
}

#draw-layers{
    height: 300px;
	width:100%;
    overflow-x: hidden;
}
.frnt_sht {
	position: relative;
	margin:10px;
    float: left;
}

#frnt_cnv {
	position: absolute;
	border:1px solid white;
	top: 56px;
	left: 135px;
}

.glyphicon-move {
  cursor: move;
  cursor: -webkit-grabbing;
}

#ln_width {
	width: 15em;
}


.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/*================================================*/
body{
	margin:0;
      background: url(../res/grid.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#header {
	padding:10px;
	width:100%;
	height:30%;
	text-align:center;
	background-color:#222d32;
}

#logo{
	width:100px;
}

#divtool{
	width:100%;
	height:37px;
	background-color: #32464f;
    box-shadow: 0 4px 2px -2px ;
}

#toolwrapper{
	width:100%;
	text-align:center;
}

#icon{
	width:25px;
}

#tool1{
	float:left;
    color:white;
    font-family: century gothic;
    margin-top: 10px;
}
#tool2{
	display:inline-block;
}
#tool3{
	float:right;
}

#btnUndo{
    padding: 6px 10px;
    text-decoration: none;
    transition: 0.3s;
}

/*===================nav=======================*/

ul.tab {
	margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}


ul.tab li {
	float: left;
	cursor:pointer;
}

ul.tab li a {
    display: inline-block;
    text-align: center;
    padding: 6px 10px;
    text-decoration: none;
    transition: 0.3s;
}


ul.tab2 {
	margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}


ul.tab2 li {
	float: left;
	cursor:pointer;
}

ul.tab2 li a {
    display: inline-block;
    text-align: center;
    padding: 6px 40px;
    text-decoration: none;
    transition: 0.3s;
}

ul.tab2 li a:hover {
	background-color: #2289b7;
}

ul.tab2 li a:focus, .active {
	background-color: #2289b7;
}




/*====================right sidenav ============*/
#rightnav{
    height: 630px;
    width: 727px;
    position: fixed;
    z-index: 1;
    top: 60;
	right:0;
	background-color:#445a64;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
}



.rsidenav {
    height: 100%;
    width: 250px;
    z-index: 1;
    top: 60;
	right:0;
	background-color:#445a64;
    border-left: 1px solid #2c4550;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    text-align: left;
}

.rsidenav a {
    text-decoration: none;
    font-size:12px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.rsidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.rsidenav .closebtn {
    position: absolute;
    top: -5px;
    right: 0px;
    font-size: 20px;
    margin-left: 50px;
}



@media screen and (max-height: 450px) {
  .lsidenav {padding-top: 15px;}
  .lsidenav a {font-size: 18px;}
}

#draw-layers::-webkit-scrollbar {
    width: 7px;
}

#draw-layers::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#draw-layers::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color:#3394b8;
}

@media screen and (max-height: 450px) {
  .rsidenav {padding-top: 15px;}
  .rsidenav a {font-size: 18px;}
}

/*==============*/
.tabcontent {
    display: none;
	width:250px;
	padding:10px;
}

#contentwrapper{
	text-align:center;
    height: 624px;
}

#lbltool{
	text-align:center;
	width:240px;
	font-size:12pt;
	color:white;
	padding:10px;
	border-bottom: 1px solid #2c4550;
	border-top:1px solid #2c4550;
    font-family: Century Gothic;
    font-weight: bold;
}

#Item{
    text-align:left;
}

#btnclr{
    outline: none;
    border:none;
    margin:2px;
    border-radius: 50px;
    height:50px;
    width:50px;
}

#lblcolor{
    color:white;
    font-size: 12pt;
    font-family: century gothic;
}


/*=========layer ====================== */
.list-group-item{
    background-color: none;
    outline:none;
    border-bottom: 1px solid #2c4550;
    font-family:century gothic;
    font-size:9pt;
    color:white;
    padding:10px;
    transition: 0.3s;
    cursor: pointer;
}


.list-group-item:hover {
	background-color: #2289b7;
}

.list-group-item:focus, .active {
	background-color: #2289b7;
}

#divlayer{
	width:240px;
	font-size:12pt;
	color:white;
    padding: 10px;
	border-bottom: 1px solid #2c4550;
	border-top:1px solid #2c4550;  
}

#lbllayer{
    font-family: Century Gothic;
    font-weight: bold;
    display:inline-block;
    vertical-align: middle;
}

#divlayertool{
    display:inline-block;   
    vertical-align: middle;
    float: right;
    margin-right: 5px;
   
}

#layertool-del,#layertool-duplicate{
    position:relative;
    width:20px;
    margin-left: 5px;
    cursor: pointer;
}

#tbldiv{
    position:relative;
    float:left;
    height: 100%;
    width:475px;
    border-top:1px solid #2c4550;  
    background-color: #445a64;
    overflow-x: hidden;
    overflow-y: scroll;
    
}

#tbldiv::-webkit-scrollbar {
    width: 7px;
}

#tbldiv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#tbldiv::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color:#3394b8;
}


#tblDesc{
    margin:0;
    padding:0;
    width:475px;
    height: 100%;
    table-layout:fixed;
    font-family:century gothic;
    color:white;
}

#tblDesc, td {
    border-bottom: 1px solid #2c4550;
    padding: 5px;
}
#tblDesc tbody{
    text-align: left;
    font-size:9pt;
}
#tblDesc tbody tr{
      border-bottom: 1px solid #2c4550;
}

#btnDownload{
    padding:10px;
	padding-left:60px;
	padding-right:60px;
	font-family:Century Gothic;
	font-size:12pt;
	background-color: #222d32;
	font-weight:bold;
	color:White;
	border:3px solid #222d32;
	outline:none;
	cursor:pointer;
	
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	
}
#divitemb{
    background-color: #354851;
    padding:10px;
    color:white;
    font-family: Century Gothic;
}

#txtAddBgt, #txtActPrice{
    margin-left: 5px;
    font-size: 10pt;
    font-family: century gothic;
    width:50px;
    resize: none;
    border-radius: 5px;
    outline: none;
    border:none;
    color: white;
    background-color: #26353c;
    padding:3px;
}

#txtAddNote{
    margin-top: 5px;
    font-size: 10pt;
    font-family: century gothic;
    width:96%;
    height: 80px;
    resize: none;
    border-radius: 5px;
    outline: none;
    border:none;
    color: white;
    background-color: #26353c;
    padding:3px;
}

#bno{
    margin-left: 25px;
}
#custname{
    margin-left: 50px;
}
#shinfo{
    margin-left: 50px;
}