#div-verify{
    position:relative;
    padding:20px;
    padding-top:0px;
    font-family:century gothic;
    text-align: center;
}

h1{
    font-weight:bold;
}

#verifyCP{
        width:400px;
		height:auto;
		padding-left:20px;
		padding-right:20px;
		padding-top:10px;
		padding-bottom:10px;
		font-family:basic title font;
		font-size:12pt;
		background-color:#222d32;
		font-weight:bold;
		color:White;
		border:3px solid #222d32;
		outline:none;
		cursor:pointer;
		
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
}

#imgver{
    width:200px;
    margin-bottom: 20px;
}