ul.topMenu {
    margin-top: -15px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f8;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;

}

ul.topMenu li {
    float: right;
}

ul.topMenu li a{
    cursor: pointer;
    font-weight: 50;
   font-family: "Segoe UI";
    display: block;
    color: #444444;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

ul.topMenu li a:hover { 
    background-color:#e7e7e7;
}

.active {
    background-color: #e7e7e7;
}
h1{
	background-color:white;
	color:#444444;
	padding:15px 250px;
	text-align:left;
	font-size: 20px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}

#tblOrders
{
	margin-top: 30px;
	margin-left:280px;
    border-collapse: collapse;
    width: 75%;
	border-top:3px solid #dd4b39;
	border-left:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7;
	border-right:1px solid #e7e7e7;
}

th, td {
    text-align: center;
}

tr:nth-child(even)
{
background-color: #f2f2f2;
}
tr:nth-child(odd)
{
background-color:#ffffff;
}

tr:hover
{
background-color:#f8f8f8;
}
th {
    color: black;
	font-weight:500;
	font-size: 13px;
	font-family: "Segoe UI";
	padding: 9px 12px;
	background-color:white;
	border-bottom: 2px solid #ddd;

}

td
{
    border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-weight:400;
	font-size: 12px;
    cursor: pointer;
	letter-spacing: 1px;
	font-family: "Segoe UI";
	padding: 1px 10px;
}

.btnViewOrder{
    background-color: #f4f4f4;
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
 border: 1px solid #dddddd;
 text-shadow: rgba(254,254,254,0.5) 0px 1px 0px;
 font-family: "Segoe UI";
-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.btnViewOrder:hover {
    color: black;
	background-color:#e7e7e7;
	border:1px solid #adadad;}

#popup1{
    z-index: 9999;
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    overflow: auto;
}

#pop-up-form1{
     width:40%;
    max-height:90%;
    padding:200px 30px;
    position:absolute;
    top:45%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

#popup-ok1{
	position:absolute;
	bottom:6%;
	right:5%;
	height:30px;
             background-color: #dd4b39;
            border: 1px solid #d73925;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
    font-size:15px;
    text-decoration:none;
	font-family: "Segoe UI";
	cursor: pointer;
	border: 1px solid #dddddd;
	outline: none;
	border-radius: 5px;
}

#popup-ok1:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}

#divOrder{
    position:absolute;
    left:30px;
    top:80px;
    width: 300px;
    background-color: white;
}

#divCourier{
    position:absolute;
    left:390px;
    top:80px;
}
#divTrack{
    position:absolute;
    left:390px;
    top:180px;
}

#divHead{
    position:absolute;
    left:30px;
    top:10px;
}

.ordlbl{
    font-weight:600;
    font-family: "Segoe UI";
    color: #444444;
    font-size:15px;
}

#lblname, #lblAddress, #lblContact{
    margin-left: 40px;
    min-height: 20px;
    overflow-y: auto;
    word-wrap:break-word;
}

#txtTracking{
    width:150px;
    height:32px;
    padding: 5px 5px;
    border-left: 1.5px solid #dddddd;
    border-bottom: 1.5px solid #dddddd;
    border-top: 1.5px solid #dddddd;
    border-radius: 2px;
    font-size: 14px;
    font-family: "Segoe UI";
    outline: none;
}   
#txtTracking:focus {
    border: 1px solid #ccc;
}

.selCourier{
    width: 150px;
    height:32px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

.popup-ci{
    z-index: 8888;
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    overflow: auto;
}