@import 'https://fonts.googleapis.com/css?family=Pathway Gothic One';
@import 'https://fonts.googleapis.com/css?family=Dosis';
@import 'https://fonts.googleapis.com/css?family=BenchNine';
@import 'https://fonts.googleapis.com/css?family=Oswald';
@import 'https://fonts.googleapis.com/css?family=Lato';
 
#stick{
		position:fixed;
		top:0px;
		margin:0;
		width:100%;
		z-index:1;
	}

body{ 
	margin:0;
	background-color:#ededed;
	}
	
#header1{
	background-color:#212121;
	max-width:100%;
	height:5%;
	}
	
#header2{
	background-color:red;
	max-width:100%;
	height:5%;
	
}

	
#divheader2a{
	background-color:#ededed;
	text-align:right;
	box-shadow: 7px 2px 10px grey;
}
#divheader2b{
	background-color:#ededed;
	max-width:100%;
	height:62.5px;
	box-shadow: 5px 2px 10px grey;
}
#divheader2c{
	text-align:right;
	position:relative;
	padding-right:20%;
}
#imgsearch{
		position:relative;
		vertical-align:middle;
		max-width:80px;
		height:33px;
		border:2.5px solid black;
		border-left:none;
		cursor:pointer;
	}

#txt-search{
		padding:5.5px;
		border:2.5px solid black;
		max-width:150px;
		height:auto;
		font-size:12pt;
		background:none;
		vertical-align:middle;
		position:relative;
		left:4px;
		font-family:Pathway Gothic One;;
	}


#btnOpenLogIn{
		font-family:Pathway Gothic One;
		text-decoration:none;
		color:#212121;
		border-right:1px solid gray;
		padding-right:20px;
		padding-left:20px;
	}
	
#btnRegister{
		font-family:Pathway Gothic One;
		text-decoration:none;
		color:#212121;
		border-right:1px solid gray;
		padding-right:20px;
		padding-left:20px;
	}

#content{
	background-color:white;
	max-width:100%;	
	text-align:center;
	margin-top:6%;
}

#content1{
	text-align:center;
	padding:20px;
	padding-bottom:10px;
}
	
#content2{
	padding:20px;
	text-align:center;
}

#content6{
	max-width:100%;
	padding-top:20px;
	text-align:center;
	overflow:hidden;
}

#content7{
	background-color:black;
	max-width:100%;
	height:5%;
}
#lbreak{
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cfcfcf;
    margin: 0 auto;
    padding: 0; 
	width:80%;
}
#foot{
	font-size:14pt;
	font-family:Benchnine;
	color:#212121;
}


/*-----------------------------------responsive*/
 
 * {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

/* For mobile phones: */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	
}

 /* For tablets: */
@media only screen and (min-width: 481px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
/* For desktop: */
@media only screen and (min-width: 801px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}	

			
	#btnOpenLogIn{
			font-size:15pt;
	}
		
	#btnRegister{
		font-size:15pt;
	}
}