#divsuccess{
    width: 100%;
    text-align: center;
}

#successlogo{
    margin-top: 50px;
    width:200px;
}

#divsuccess p{
    font-family: century gothic;
    font-size: 12pt;
}

.btnContinue{
	padding:20px;
	margin-top:20px;
	padding-left:60px;
	padding-right:60px;
	font-family:basic title font;
	font-size:15pt;
	background-color: #222d32;
	font-weight:bold;
	color:White;
	border:3px solid #222d32;
	outline:none;
	cursor:pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}

#rarrow{
	vertical-align:middle;
	width:30px;
	position:relative;
	left:13px;
	
	
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#lblcart{
		font-family:century gothic;
		font-weight:bold;
		text-decoration:none;
		font-size:15pt;
		margin:10px;
	}

#divcart{
    position:relative;
    left:-10px;
    margin-bottom:10px;
}

#vline{
		font-size:15pt;
		font-family:century gothic;
		font-weight:bold;
}

.act{
		color:red;
	}

	.act1{
		color:black;
	}
