
/* For mobile phones: */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	
}

 /* For tablets: */
@media only screen and (min-width: 481px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
	
}
/* For desktop: */
@media only screen and (min-width: 801px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}	
    #lbladdbook{
		font-family:century gothic;
		font-weight:bold;
        font-size: 20pt;
	}
	
    #wrapper{
        font-family: century gothic;
    }
    #divaddress{
        margin-top: 20px;
    }

    #btnaddbook{ 
        margin-left: 10px;
    }
    
    #btnSetPrimary{
        margin-top: 20px;
    }
    
   .delete-address,#btnSetPrimary,#btnaddbook{
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	font-family:century gothic;
	font-size:9pt;
	background-color:#222d32;
	color:White;
	border:3px solid #222d32;
	outline:none;
	cursor:pointer;
	
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}
    
    .delete-address{
        margin-left: 34%;
    }
    
    #lbllabel{
		text-decoration:none;
		color:white;
	}
}

