h1{
	background-color:white;
	color:#444444;
	padding:20px 250px;
	text-align:left;
	font-size: 38px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}

#divLogs{
	float: left;
	margin-left: 230px;
	z-index:1;
    border-top:3px solid #dd4b39;
   	background-color: white;
    width:80%;
	height: 900px;
   	border-radius: 3px;
    border-bottom:1px solid #e4e8ed;
    border-right:1px solid #e4e8ed;
    border-left:1px solid #e4e8ed;
    box-shadow: 0px 1px 3px #dbdfe3;
	font-family: "Segoe UI"; 
}
table {
   	 margin-top: 35px;
   	 margin-left:6px;
	border-collapse: collapse;
    	width: 99%;
	border:1px solid #e7e7e7;
}
th, td {
    text-align: center;
}

tr:nth-child(even)
{
background-color: #f2f2f2;
}
tr:nth-child(odd)
{
background-color:#ffffff;
}

tr:hover
{
background-color:#f8f8f8;
}
th {
    color: black;
	font-weight:500;
	font-size: 13px;
	font-family: "Segoe UI";
	padding: 9px 12px;
	background-color:white;
	border-bottom: 2px solid #ddd;

}

td
{
    border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-weight:400;
	font-size: 12px;
    cursor: pointer;
	letter-spacing: 1px;
	font-family: "Segoe UI";
	padding: 1px 10px;
}

#btnPagination{
    	position:absolute;
	top:940px;
	left:680px;
    	font-size: 13px;
	font-family: "Segoe UI";
  	  font-weight: 450;
}

.lblPagination{
    background-color: #ffffff;
    color:#444444;
    border: 1px solid #dddddd;
    text-decoration:none;
    padding:10px 15px;
    margin-left: -5;
}

.lblPagination:hover{
    background-color: #dd4b39;
    color:white;   
}

.footer {
	position: relative;
	right: 5px;
    bottom:-15;
    text-align: right;
    padding:15px;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight:600;
}

#selSearch{
    width: 130px;
	height:32px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#txtSearch{
    width:250px;
	height:32px;
    padding: 5px 5px;
    border-left: 1.5px solid #dddddd;
    border-bottom: 1.5px solid #dddddd;
    border-top: 1.5px solid #dddddd;
	border-radius: 2px;
	font-size: 14px;
	font-family: "Segoe UI";
    outline: none;
}	
#txtSearch:focus {
	border: 1px solid #ccc;
}

#btnSearch{
    position: relative;
    top:11px;
    margin-left: -1px;
    width:18px;
    height: 18px;
    padding: 7px 7px;
    background-color: #dd4b39;
    outline:none;
}

#btnSearch:hover{
    background-color: #d73925;
}

#lblResult{
    position:absolute;
    left:300px;
    top:146px;
    font-family: "Segoe UI";
    font-size: 13px;
    color:#d73925;
    font-weight: 500;
	border: 1px solid #ccc;
    padding:10px 10px;
}

#selSort{
    width: 225px;
	height:32px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#selSort:focus {
	border: 1px solid #ccc;
}


#fromdate{
	width: 100px;
	height:30px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#fromdate:focus {
	border: 1px solid #ccc;
}


#todate{
	width: 100px;
	height:30px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}
#todate:focus {
	border: 1px solid #ccc;
}

#btnFilter{
	background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnFilter:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}

#salesfrom{
	width: 100px;
	height:30px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}
#salesfrom:focus {
	border: 1px solid #ccc;
}
#salesto{
	width: 100px;
	height:30px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}
#salesto:focus {
	border: 1px solid #ccc;
}
#btnFilterSales{
	background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnFilterSales:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}