/* For mobile phones: */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	
}

 /* For tablets: */
@media only screen and (min-width: 481px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
	
}
/* For desktop: */
@media only screen and (min-width: 801px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
	
	
	
	/*===============================*/
	#divtotal2{
		text-align:right;
		margin-top:50px;
	}
	
	
    
	#lbls{
		font-family:Century gothic;
		
	}
	#linkCheck{
		font-family:Century gothic;
		color:black;
	}
	
.btnProceedCheck{
	padding:20px;
	margin-top:20px;
	padding-left:60px;
	padding-right:60px;
	font-family:basic title font;
	font-size:15pt;
	background-color: #222d32;
	font-weight:bold;
	color:White;
	border:3px solid #222d32;
	outline:none;
	cursor:pointer;
	
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}
	
	#rarrow{
	vertical-align:middle;
	width:30px;
	position:relative;
	left:13px;
	
	
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

	#lblcart{
		font-family:century gothic;
		font-weight:bold;
		text-decoration:none;
		font-size:15pt;
		margin:10px;
	}

	#divcart{
		position:relative;
		left:-10px;
		margin-bottom:10px;
	}
	.act{
		color:red;
	}

	.act1{
		color:black;
	}

	#vline{
		font-size:15pt;
		font-family:century gothic;
		font-weight:bold;
	}
	
	#btndeleteitem{
		width:30px;
		cursor:pointer;
	}
    
    #imgshirts{
        width:50px;
    }
    
    #tblprodcart{
		border-collapse: collapse;
		width: 100%;
	}

    #tblprodcart th,#tblprodcart td {
    text-align: left;
    padding: 8px;
    font-family:Adam;
    font-weight:bold;
    }
    
    #tblprodcart tr:nth-child(even){background-color:#f2f2f2 }

    #tblprodcart th {
        background-color: #222d32 ;
        font-family:Century gothic;
        font-weight:bold;
        color: white;
	}
}

