/* For mobile phones: */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	#content{
		text-align:center;
	}
	#wrapper{
		margin:0 auto;
		width:1050px;
	
	}
	
	#content1,#content2{
		display:inline-block;
		
	}
	
	#divwomen,#divmen{
		float: left;
		position: relative;
		overflow: hidden;
		margin:0;
		max-width:100%;
		height:auto;
		margin:10px;
	}
	
	#divgirl,#divboy{
		float: left;
		position: relative;
		overflow: hidden;
		margin:0;
		max-width:100%;
		height:auto;
		margin:10px;
		
	}
	
	
	#imgwomen,#imgmen{
		max-width:500px;
		height:auto;
		position:relative;
		text-align:center;
	}
	
	#imgboy{
		max-width:687px;
		height:auto;
		position:relative;
		text-align:center;
	}
	#imggirl{
		max-width:313px;
		height:auto;
		position:relative;
		text-align:center;
	}
	
	
	#btnview{
		border:3px solid white;
		padding-top:20px;
		padding-bottom:20px;
		padding-left:50px;
		padding-right:50px;
		font-size:20pt;
		color:white;
		font-family:adam;
		font-weight:bold;
		position:relative;
		top:90%;
		cursor:pointer;
		
		opacity: 0.3;
		-webkit-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
	
	#lblwomen{
		position:absolute;
		z-index:10;
		color:white;
		width: 100%;
		top:50%;
		text-align: center;
		font-family:century gothic;
		font-weight:bold;
		font-size:30pt;
	}
	
.img-title {
    position: absolute;
    top: 0px;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 10%;
    display: none; /* comment this out for CSS hover */
    /*background-color: #333;
    /*transition: all 0.5s ease;*/
	background: rgba(0,0,0,0.3);
	
	}
	
	/*===============================*/
	#contentheader{
		font-family:basic title font;
		color:white;
		background-color:#222d32;
		padding:20px;
	}
	
	#prodcontainer{
	width:100%;
	height:auto;
	display:inline-block;
	}
			
	#prod{
	height:auto;
	float:left;
	text-align:center;
	width:262.5px; 
	padding:10px;
	}
	
	#prodimg{
		max-width:98%;
		height:auto;
		border:1px solid gray;
	}

	#pname{
		font-family:Century Gothic;
		font-weight:bold;
		text-align:left;
		color:black;
		font-size:15pt;
		position:relative;
		top:-15px;
	}
	#pprice{
		position:relative;
		text-align:right;
		margin-right:3%;
		top:-15px;
		font-size:9pt;
		font-family:Century Gothic;
		font-weight:bold;
		color:gray;
	}
    
    #pdesc{
		position:relative;
		text-align:left;
		margin-right:3%;
		top:-15px;
		font-size:9pt;
		font-family:Century Gothic;
		color:gray;
	}

	#lblcart{
		text-decoration:none;
		color:white;
	}
	
	#divseemore{
		text-align:right;
		margin-right:10px;
	}
	
	#btnSeeMore{
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	font-family:basic title font;
	font-size:12pt;
	background-color:#222d32;
	font-weight:bold;
	color:White;
	border:3px solid #222d32;
	outline:none;
	cursor:pointer;
	
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}
}

 /* For tablets: */
@media only screen and (min-width: 481px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
	#content{
		text-align:center;
	}
	#wrapper{
		margin:0 auto;
		width:1050px;
	
	}
	
	#content1,#content2{
		display:inline-block;
		
	}
	
	#divwomen,#divmen{
		float: left;
		position: relative;
		overflow: hidden;
		margin:0;
		max-width:100%;
		height:auto;
		margin:10px;
	}
	
	#divgirl,#divboy{
		float: left;
		position: relative;
		overflow: hidden;
		margin:0;
		max-width:100%;
		height:auto;
		margin:10px;
		
	}
	
	
	#imgwomen,#imgmen{
		max-width:500px;
		height:auto;
		position:relative;
		text-align:center;
	}
	
	#imgboy{
		max-width:687px;
		height:auto;
		position:relative;
		text-align:center;
	}
	#imggirl{
		max-width:313px;
		height:auto;
		position:relative;
		text-align:center;
	}
	
	
	#btnview{
		border:3px solid white;
		padding-top:20px;
		padding-bottom:20px;
		padding-left:50px;
		padding-right:50px;
		font-size:20pt;
		color:white;
		font-family:adam;
		font-weight:bold;
		position:relative;
		top:90%;
		cursor:pointer;
		
		opacity: 0.3;
		-webkit-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
	
	#lblwomen{
		position:absolute;
		z-index:10;
		color:white;
		width: 100%;
		top:50%;
		text-align: center;
		font-family:century gothic;
		font-weight:bold;
		font-size:30pt;
	}
	
.img-title {
    position: absolute;
    top: 0px;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 10%;
    display: none; /* comment this out for CSS hover */
    /*background-color: #333;
    /*transition: all 0.5s ease;*/
	background: rgba(0,0,0,0.3);
	
	}
	
	/*===============================*/
	#contentheader{
		font-family:basic title font;
		color:white;
		background-color:#222d32;
		padding:20px;
	}
	
	#prodcontainer{
	width:100%;
	height:auto;
	display:inline-block;
	}
			
	#prod{
	height:auto;
	float:left;
	text-align:center;
	width:262.5px; 
	padding:10px;
	}
	
	#prodimg{
		max-width:98%;
		height:auto;
		border:1px solid gray;
	}

	#pname{
		font-family:Century Gothic;
		font-weight:bold;
		text-align:left;
		color:black;
		font-size:15pt;
		position:relative;
		top:-15px;
	}
	#pprice{
		position:relative;
		text-align:right;
		margin-right:3%;
		top:-15px;
		font-size:9pt;
		font-family:Century Gothic;
		font-weight:bold;
		color:gray;
	}

	#lblcart{
		text-decoration:none;
		color:white;
	}
    
      #pdesc{
		position:relative;
		text-align:left;
		margin-right:3%;
		top:-15px;
		font-size:9pt;
		font-family:Century Gothic;
		color:gray;
	}
	
	#divseemore{
		text-align:right;
		margin-right:10px;
	}
	
	#btnSeeMore{
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	font-family:basic title font;
	font-size:12pt;
	background-color:#222d32;
	font-weight:bold;
	color:White;
	border:3px solid #222d32;
	outline:none;
	cursor:pointer;
	
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}
}
/* For desktop: */
@media only screen and (min-width: 801px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
	
	#content{
		text-align:center;
	}
	#wrapper{
		margin:0 auto;
		width:1050px;
	
	}
	
	#content1,#content2{
		display:inline-block;
		
	}
	
	#divwomen,#divmen{
		float: left;
		position: relative;
		overflow: hidden;
		margin:0;
		max-width:100%;
		height:auto;
		margin:10px;
	}
	
	#divgirl,#divboy{
		float: left;
		position: relative;
		overflow: hidden;
		margin:0;
		max-width:100%;
		height:auto;
		margin:10px;
		
	}
	
	
	#imgwomen,#imgmen{
		max-width:500px;
		height:auto;
		position:relative;
		text-align:center;
	}
	
	#imgboy{
		max-width:687px;
		height:auto;
		position:relative;
		text-align:center;
	}
	#imggirl{
		max-width:313px;
		height:auto;
		position:relative;
		text-align:center;
	}
	
	
	#btnview{
		border:3px solid white;
		padding-top:20px;
		padding-bottom:20px;
		padding-left:50px;
		padding-right:50px;
		font-size:20pt;
		color:white;
		font-family:adam;
		font-weight:bold;
		position:relative;
		top:90%;
		cursor:pointer;
		
		opacity: 0.3;
		-webkit-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
	
	#lblwomen{
		position:absolute;
		z-index:10;
		color:white;
		width: 100%;
		top:50%;
		text-align: center;
		font-family:century gothic;
		font-weight:bold;
		font-size:30pt;
	}
	
.img-title {
    position: absolute;
    top: 0px;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 10%;
    display: none; /* comment this out for CSS hover */
    /*background-color: #333;
    /*transition: all 0.5s ease;*/
	background: rgba(0,0,0,0.3);
	
	}
	
	/*===============================*/
	#contentheader{
		font-family:basic title font;
		color:white;
		background-color:#222d32;
		padding:20px;
	}
	
	#prodcontainer{
	width:100%;
	height:auto;
	display:inline-block;
	}
			
	#prod{
	height:auto;
	float:left;
	text-align:center;
	width:262.5px; 
	padding:10px;
	}
	
	#prodimg{
		max-width:98%;
		height:auto;
		border:1px solid gray;
	}

	#pname{
		font-family:Century Gothic;
		font-weight:bold;
		text-align:left;
		color:black;
		font-size:15pt;
		position:relative;
		top:-15px;
	}
	#pprice{
		position:relative;
		text-align:right;
		margin-right:3%;
		top:-15px;
		font-size:9pt;
		font-family:Century Gothic;
		font-weight:bold;
		color:gray;
	}
    #pdesc{
		position:relative;
		text-align:left;
		margin-right:3%;
		top:-15px;
		font-size:9pt;
		font-family:Century Gothic;
		color:gray;
	}


	#lblcart{
		text-decoration:none;
		color:white;
	}
	
	#divseemore{
		text-align:right;
		margin-right:10px;
	}
	
	#btnSeeMore{
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	font-family:basic title font;
	font-size:12pt;
	background-color:#222d32;
	font-weight:bold;
	color:White;
	border:3px solid #222d32;
	outline:none;
	cursor:pointer;
	
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
    
    }
   
}