body{
	margin:0;	
	}
#page-cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1;
    top: 0;
    left: 0;
}
#header{
    position: relative;
	background-color:#222d32;
	max-width:100%;
	height:auto;
	display:inline-block;
	text-align:center;
    z-index: 2;
}

#maincategory{
    position: relative;
    background-color:lightgray;
	max-width:100%;
	height:40px;
	display:inline-block;
	text-align:center;
    z-index: 1;
}

@font-face {
  font-family: "Adam";
  src: url(../fonts/Adam.otf) format("truetype");
}

@font-face {
  font-family: "basic title font";
  src: url(../fonts/basictitlefont.ttf) format("truetype");
}
@font-face {
  font-family: "century gothic";
  src: url(../fonts/CenturyGothic.ttf) format("truetype");
}


/*-------------responsive---------------*/
* {
    box-sizing: border-box;
 }

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

/* For mobile phones: */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	
}

 /* For tablets: */
@media only screen and (min-width: 481px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
	
}
/* For desktop: */
@media only screen and (min-width: 801px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}	
	
	#content{
		min-height:466px;
	}
	#wrapper{
		margin:0 auto;
		width:1050px;
	}
	#logo{
		max-width:120px;
		position:relative;
		vertical-align:middle;
		padding-right:10px;
		cursor:pointer;
	}
	
	
	#nav{
		position:relative;
		float:left;
		width:100%;
	}
	
	#nav ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	#menu {
		display:inline;	
		padding:10px;
	}
	
	
	#menu1{
		text-decoration:none;
		color:white;
		font-size:15pt;
		font-family:Adam;
		font-weight:bold;
	}
	
	#txt-search{
		color:white;
		max-width:150px;
		height:auto;
		font-size:15pt;
		font-family:Adam;
		font-weight:Bold;
		background:none;
		border:none;
		border-bottom:2px white solid;
		outline: none;
	}
	
	#imgsearch{
		vertical-align:middle;
		max-width:20px;
		height:auto;
		position:relative;
		cursor:pointer;
	}
	
	
	#menu2{
		text-decoration:none;
		color:black;
		font-size:10pt;
		font-family:Adam;
		font-weight:bold;
	}
	
	#imglogin ,#imghelp,#imgcart{
		max-width:20px;
		height:auto;
		vertical-align:middle;
	}
	
	/*======== help dropdown =====*/ 
	

	#menu.help-dropdown {
		display: inline-block;
	}

	.help-content {
		display: block;
		position: absolute;
		background-color: #222d32;
		min-width: 300px;
		color:black;
		left:61%;
		top:80px;
		z-index:4;
	}

	#menu2{
		color:white;
		font-weight:bold;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	}
	
	/*======== login dropdown =====*/ 
	

	#menu.login-dropdown {
		display: inline-block;
	}

	.login-content {
		padding:10px;
		text-align:left;
		display: block;
		position: absolute;
		top:80px;
		background-color: #222d32;
		width:320px;
		left:65%;
		color:black;
		z-index:4;
	}
	#lbl{
		text-decoration:none;
		color:white;
		font-size:12pt;
		font-weight:bold;
		font-family:basic title font;
	}
	#lblWarnEmail,#lblWarnPass{
		color:red;
		font-size:12pt;
		font-weight:bold;
		font-family:basic title font;      
	}
	

	#txtEm,#txtPw{
		width:300px;
		height:auto;
		font-size:15pt;
		font-family:Adam;
		font-weight:Bold;
		border:none;
		border-bottom:2px white solid;
		outline: none;
		padding-left:10px;
		padding-top:5px;
	}
	
	#btnLog{
		width:300px;
		height:auto;
		padding-top:10px;
		padding-bottom:10px;
		cursor:pointer;
	}
	
	#lbreak{
		
		height: 1px;
		border: 0;
		border-top: 1px solid #cfcfcf;


	}
	#forgot{
		color:white;
		font-style:italic;
		font-family:basic title font;
		text-decoration:none;
	}
	#facebook,#google{
		width:30px;
		height:auto;
		padding-top:5px;
		padding-right:5px;
		padding-bottom:5px;
	}
	#lblaccount{
		color:white;
		font-family:Adam;
		text-decoration:none;
	}
	#lReg{
		color:white;
		font-weight:bold;
		font-size:16pt;
		font-family:Century gothic;
		text-decoration:none;
	}
	
	/*======== account dropdown =====*/ 
	

	#menu.account-dropdown {
		display: inline-block;
	}

	.account-content {
		display: block;
		position: absolute;
		background-color: #222d32;
		min-width: 300px;
		left:65%;
		top:80px;
		color:black;
		z-index:4;
	}

	
    
    /*================main category====================*/
    #maincategory{
	   text-align: left;  
	}
	
    #maincategory #wrapper ul{
        position:relative;
        top:-5px;
		list-style-type: none;
		margin: 0;
        padding-left: 80px;
        cursor: pointer;
        width:100%;
	}

    #maincategory #wrapper ul li {
		display:inline;	
		padding:10px;
	}
    
    #maincategory #wrapper ul li:hover {
		border-bottom: 3px solid #d02a32;
	}
    #maincategory #wrapper ul li.active {
		border-bottom: 3px solid #d02a32;
	}
	
	#maincategory #wrapper ul li a{
		text-decoration:none;
        color:black;
		font-size:11pt;
		font-family:Adam;
        font-weight: bold;
	}
       
    /*=================sub category======================*/
    #lblcateg{
        font-family: century gothic;
        font-size: 10pt;
        font-weight: bold;
    }
    
    #hline{
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        width:200px;
    }
    #subcategory{
        position:absolute;
        background-color: white;
        display: none;
        height:330px;
        top:135px;
        z-index: 2;
        
    }
    .sub-category{
        display: none;
       
    }
    
    #sub-categ-layer{
        float:left;
        position:relative;
        left:90px;
        
    }
    
    #sub-categ-layer ul{
       list-style-type: none;
        margin: 0;
        padding:0;
    }
     #sub-categ-layer ul li{
       margin-bottom:5px;
    }
    
    #sub-categ-layer ul li a{
        text-decoration: none;
        color:black;
        font-family: century gothic;
        font-size: 9pt;
    }
    
     #sub-categ-layer ul li a:hover{
        text-decoration: underline;
    }
    
    #sub-categ-img{
        float:right;
        position:relative;
        right:90px
    }
    
    #subimg{
        width:300px;
        
    }
    
    
    .arrow-up {
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;

        border-bottom: 20px solid lightgray;
        z-index: 3;
        position:relative;
        top:60px;
        left:260px;
    }
    /*====================footer=========================*/
    #footer{
		background-color:#696969;
		margin:0 auto;
		text-align:center;
		border:1px solid lightblack;
	}
	#foot{
		color:white;
		font-family:Century Gothic;
        font-size: 9pt;
	}
    #foot1{
        position: relative;
        display: inline-block;
        left:55px;
    }
    #foot-1{
        text-align: left;
        font-family:century gothic;
        float: left;
        width:260px;
    }

    #foot-label{
        font-weight: bold;
        
        color: white;
    }
    #foot-1-container{
        margin-bottom: 5px;
    }
    #footericon{
        width:18px;
        vertical-align: middle;
    }
    #foot-1 label{
        margin-bottom: 10px;
        font-size: 9pt;
        color: white;
    }
    
    #foot-1 a{
        text-decoration: none;
        margin-bottom: 10px;
        font-size: 9pt;
        color: white;
    }
    #footericon2{
        width:40px;
        vertical-align: middle;
    }
    
    
}

