h1{
	background-color:white;
	color:#444444;
	padding:20px 250px;
	text-align:left;
	font-size: 38px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}

#lblAdd{
    margin-left: 10px;
    font-weight:500;
    font-size: 20px;
	font-family: "Segoe UI";
    color:#5c5c5c;
}

#divRaw
{
    margin-left: 560px;
    width: 400px;
    height: 300px;
    border-top:3px solid #dd4b39;
    background-color: white;
    border-radius: 3px;
    border-bottom:1px solid #e4e8ed;
    border-right:1px solid #e4e8ed;
    border-left:1px solid #e4e8ed;
    box-shadow: 0px 1px 3px #dbdfe3;
    padding:15px;
    font-family: "Segoe UI";
}

.btnAdd{
    margin-top: 0px;
    margin-left: 120px;
    background-color: #f4f4f4;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
	border: 1px solid #dddddd;
	font-family: "Segoe UI";
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    outline:none;

}

.btnAdd:hover {
    color: black;
	background-color:#e7e7e7;
	border:1px solid #adadad;
}

.footer {
    position: absolute;
    right: 10;
    bottom: 0;
    left: 206px;
    padding: 1rem;
    text-align: right;
    font-family: "Segoe UI";
    font-size: 12px;
    font-weight:600;
}