ul.topMenu {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f8;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;

}

ul.topMenu li {
    float: right;
}

ul.topMenu li a{
    cursor: pointer;
    font-weight: 500;
	font-family: "Segoe UI";
    display: block;
    color: #444444;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

ul.topMenu li a:hover { 
    background-color:#e7e7e7;
}

.active {
    background-color: #e7e7e7;
}

h1{
	margin-top: -15px;
	background-color:white;
	color:#444444;
	padding:15px 250px;
	text-align:left;
	font-size: 20px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}

#btnAddRaw{
	position: relative;
	top:-62px;
	left:535px;
    background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

#btnAddRaw:hover {
    background-color: #d73925;
    border: 1px solid #ac2925;
}
#divRaw{
	position: relative;
	left:300px;
    border-top:3px solid #dd4b39;
    background-color: white;
    width:70%;
	height: 800px;
    border-radius: 3px;
    border-bottom:1px solid #e4e8ed;
    border-right:1px solid #e4e8ed;
    border-left:1px solid #e4e8ed;
    box-shadow: 0px 1px 3px #dbdfe3;
	font-family: "Segoe UI"; 
}

#selSearch{
    width: 130px;
	height:32px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#txtSearch{
    width:250px;
	height:32px;
    padding: 5px 5px;
    border-left: 1.5px solid #dddddd;
    border-bottom: 1.5px solid #dddddd;
    border-top: 1.5px solid #dddddd;
	border-radius: 2px;
	font-size: 14px;
	font-family: "Segoe UI";
    outline: none;
}	
#txtSearch:focus {
	border: 1px solid #ccc;
}

#btnSearch{
    position: relative;
    top:11px;
    margin-left: -1px;
    width:18px;
    height: 18px;
    padding: 7px 7px;
    background-color: #dd4b39;
    outline:none;
}

#btnSearch:hover{
    background-color: #d73925;
}

#lblResult{
    position:absolute;
    left:520px;
    top:26px;
    font-family: "Segoe UI";
    font-size: 13px;
    color:#d73925;
    font-weight: 500;
	border: 1px solid #ccc;
    padding:10px 10px;
}

#selSort{
    width: 225px;
	height:32px;
    padding: 5px 5px;
    outline:none;
    font-family: "Segoe UI"; 
    border: 1.5px solid #dddddd;
}

#selSort:focus {
	border: 1px solid #ccc;
}
table{
	margin-top: 30px;
    margin-left:10px;
    border-collapse: collapse;
    width: 98%;
	border-top:1px solid #e7e7e7;
}

tr:nth-child(even)
{
background-color: #f9f9f9;
}
tr:nth-child(odd)
{
background-color:#ffffff;
}
tr:hover
{
background-color:#f2f2f2;
}
th{
    color: black;
	font-weight:500;
	font-size: 13px;
	font-family: "Segoe UI";
	padding-top: 10px;
	padding-bottom: 10px;
	background-color:white;
	border-bottom: 2px solid #ddd;
   	text-align: center;
}
td{
    border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-weight:400;
	font-size: 13px;
    cursor: pointer;
	font-family: "Segoe UI";
    padding: 5px 0px; 
    text-align: center;
	height: 40px;
	
}

.txtprice{
	padding:5px;
	width:60px;
	outline:none;
    font-family: "Segoe UI"; 
}

.txtStocks{
	padding:5px;
	width:60px;
	outline:none;
    font-family: "Segoe UI"; 
}

.update
{
	 background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

.update:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}

.cancel{
	margin-left: 5px;
	 background-color: #dd4b39;
    border: 1px solid #d73925;
    color:white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    cursor: pointer;
    font-family: "Segoe UI";
    outline:none;
}

.cancel:hover{
    background-color: #d73925;
    border: 1px solid #ac2925;
}