/* For mobile phones: */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	
}

 /* For tablets: */
@media only screen and (min-width: 481px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
	
}
/* For desktop: */
@media only screen and (min-width: 801px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
	
	#lblresult{
		font-size:15pt;
		font-family:century gothic;
		font-weight:bold;
	}
	
	#num{
		font-family:adam;
		color:white;
		background-color:#222d32;
		padding:10px;
		padding-left:15px;
		padding-right:15px;
		text-decoration:none;
		text-align:right;
	}
	
	#numcontainer{
		margin:10px;
		margin-bottom:20px;
		text-align:right;
	}
	
	#cheader{
		font-family:basic title font;
		font-weight:bold;
		color:black;
		padding:20px;
	}
	

	/*===============================*/
	#contentheader{
		font-family:basic title font;
		color:white;
		background-color:black;
		padding:20px;
	}
	
	#prodcontainer{
	width:100%;
	height:auto;
	display:inline-block;
	}
			
	#prod{
	height:auto;
	float:left;
	text-align:center;
	width:262.5px; 
	padding:10px;
	}
	
	#prodimg{
		max-width:98%;
		height:auto;
		border:1px solid gray;
	}

	#pname{
		font-family:century gothic;
		font-weight:bold;
		text-align:left;
		color:black;
		font-size:15pt;
		position:relative;
		top:-15px;
	}
	#pprice{
		position:relative;
		text-align:right;
		margin-right:3%;
		top:-15px;
		font-size:9pt;
		font-family:century gothic;
		font-weight:bold;
		color:gray;
	}
    
    #pdesc{
		position:relative;
		text-align:left;
		margin-right:3%;
		top:-15px;
		font-size:9pt;
		font-family:Century Gothic;
		color:gray;
	}
	#lblmoreprod{
		text-align:right;
		font-family:adam;
		font-weight:bold;
		color:black;
		margin-top:10px;
	}
}