
@charset "utf-8";

.filemanager {
	width: 95%;
	max-width:1000px;
	position: relative;
	margin: 0px auto 50px;
	left:130px;
}

@media all and (max-width: 965px) {
	.filemanager {
		margin: 30px auto 0;
		padding: 1px;
	}
}


/*-------------------------
	Search box
-------------------------*/

h1{
	margin-left: -150px;
	background-color:white;
	color:#444444;
	padding:15px 400px;
	text-align:left;
	font-size: 20px;
	font-weight:600;
	font-family: "Segoe UI";
	border-bottom:2px solid #dddddd;
}
.filemanager .search {
    position: relative;
	cursor: pointer;
	font-size: 17px;
	color: #ffffff;
	display: block;
	width: 40px;
	height: 40px;
    float: left;
    margin-left: 700px;
}

.filemanager .search:before {
	content: '';
	position: absolute;
	margin-top:12px;
	width: 10px;
	height: 11px;
	border-radius: 50%;
	border: 2px solid #222d32;
	right: 10px;
}

.filemanager .search:after {
	content: '';
	width: 3px;
	height: 10px;
	background-color: #222d32;
	border-radius: 2px;
	position: absolute;
	top: 23px;
	right: 8px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.filemanager .search input[type=search] {
	border-radius: 2px;
	color:  white;
	background-color: #222d32;
	width: 250px;
	height: 44px;
	margin-left: -215px;
	padding-left: 20px;
	text-decoration-color: white;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	display: none;
	outline: none;
	border: none;
	padding-right: 10px;
	-webkit-appearance: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    white;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    white;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    white;
}


/*-------------------------
	Content area
-------------------------*/

.filemanager .data {
	margin-top: 20px;
	z-index: -3;
    
}

.filemanager .data.animated {
	-webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
	animation: showSlowlyElement 700ms; /* Standard syntax */
}

.filemanager .data li {
	background-color: #f2f2f2;
	width: 150px;
	height: 150px;
	list-style-type: none;
	margin: 5px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	padding: 0.3em;
	z-index: 1;
	cursor: pointer;
	box-sizing: border-box;
	transition: 0.3s background-color;
    -moz-box-shadow:    1px 1px 1px 1px gray;
    -webkit-box-shadow: 1px 1px 1px 1px gray;
    box-shadow:         1px 1px 1px 1px gray;
}

.filemanager .data li:hover {
	background-color: #42424E;

}

.filemanager .data li a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.filemanager .data li .name {
	color:black;
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	width: 150px;
	display: inline-block;
	text-align: center;
    font-family: century gothic;
    background-color: white;
    position: relative;
    top:9px;
}


.filemanager .data li .name2 {
	color:black;
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	width: 150px;
	display: inline-block;
	text-align: center;
    font-family: century gothic;
    background-color: white;
    position: relative;
    top:14px;
}


.filemanager .nothingfound {
	background-color: #373743;
	width: 23em;
	height: 21em;
	margin: 0 auto;
	display: none;
	font-family: Arial;
	-webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
	animation: showSlowlyElement 700ms; /* Standard syntax */
}

.filemanager .nothingfound .nofiles {
	margin: 30px auto;
	top: 3em;
	border-radius: 50%;
	position:relative;
	background-color: #d72f6e;
	width: 11em;
	height: 11em;
	line-height: 11.4em;
}
.filemanager .nothingfound .nofiles:after {
	content: '×';
	position: absolute;
	color: #ffffff;
	font-size: 14em;
	margin-right: 0.092em;
	right: 0;
}

.filemanager .nothingfound span {
	margin-left:27%;
    text-align: center;
	color: #ffffff;
	font-size: 20pt;
	font-weight: 700;
	line-height: 20px;
	height: 13px;
	position: relative;
	top: 2em;
}

@media all and (max-width:965px) {

	.filemanager .data li {
		width: 100%;
		margin: 5px 0;
	}

}

/* Chrome, Safari, Opera */
@-webkit-keyframes showSlowlyElement {
	100%   	{ transform: scale(1); opacity: 1; }
	0% 		{ transform: scale(1.2); opacity: 0; }
}

/* Standard syntax */
@keyframes showSlowlyElement {
	100%   	{ transform: scale(1); opacity: 1; }
	0% 		{ transform: scale(1.2); opacity: 0; }
}


/*-------------------------
		Icons
-------------------------*/

.icon {
	font-size: 20px;
}

.logo{
    width:110px;
    display: inline-block;
	margin-left: 20px;
	margin-top: 10px;
}

/*.icon.folder {
	display: inline-block;
	margin-left: 45px;
	margin-top: 27px;
	background-color: transparent;
	overflow: hidden;
}
.icon.folder:before {
	content: '';
	float: left;
	background-color: #7ba1ad;

	width: 1.5em;
	height: 0.45em;

	margin-left: 0.07em;
	margin-bottom: -0.07em;

	border-top-left-radius: 0.1em;
	border-top-right-radius: 0.1em;

	box-shadow: 1.25em 0.25em 0 0em #7ba1ad;
}
.icon.folder:after {
	content: '';
	float: left;
	clear: left;

	background-color: #a0d4e4;
	width: 3em;
	height: 2.25em;

	border-radius: 0.1em;
}
.icon.folder.full:before {
	height: 0.55em;
}
.icon.folder.full:after {
	height: 2.15em;
	box-shadow: 0 -0.12em 0 0 #ffffff;
}*/

.icon.file {
	width: 2.5em;
	height: 3em;
	line-height: 3em;

	text-align: center;
	border-radius: 0.25em;
	color: #FFF;
	display: inline-block;
	/*margin: 0.9em 1.2em 0.8em 1.3em;*/
    margin-left: 50px;
	margin-top: 20px;
	position: relative;
	overflow: hidden;
	box-shadow: 1.74em -2.1em 0 0 #A4A7AC inset;
}
.icon.file:first-line {
	font-size: 13px;
	font-weight: 700;
}
.icon.file:after {
	content: '';
	position: absolute;
	z-index: -1;
	border-width: 0;
	border-bottom: 2.6em solid #DADDE1;
	border-right: 2.22em solid rgba(0, 0, 0, 0);
	top: -34.5px;
	right: -4px;
}

.icon.file.f-doc,
.icon.file.f-docx,
.icon.file.f-psd{
	box-shadow: 1.74em -2.1em 0 0 #03689b inset;
}

.icon.file.f-doc:after,
.icon.file.f-docx:after,
.icon.file.f-psd:after {
	border-bottom-color: #2980b9;
}

.icon.file.f-gif,
.icon.file.f-jpg,
.icon.file.f-jpeg,
.icon.file.f-pdf,
.icon.file.f-png {
	box-shadow: 1.74em -2.1em 0 0 #e15955 inset;
}
.icon.file.f-gif:after,
.icon.file.f-jpg:after,
.icon.file.f-jpeg:after,
.icon.file.f-pdf:after,
.icon.file.f-png:after {
	border-bottom-color: #c6393f;
}

.icon.file.f-deb,
.icon.file.f-dmg,
.icon.file.f-gz,
.icon.file.f-rar,
.icon.file.f-zip,
.icon.file.f-7z {
	box-shadow: 1.74em -2.1em 0 0 #867c75 inset;
}
.icon.file.f-deb:after,
.icon.file.f-dmg:after,
.icon.file.f-gz:after,
.icon.file.f-rar:after,
.icon.file.f-zip:after,
.icon.file.f-7z:after {
	border-bottom-color: #685f58;
}


#divbuttons{
    float:left;
}

#btnNew,#btnfrnt,#btnback {
		padding-left:20px;
		padding-right:20px;
		padding-top:10px;
		padding-bottom:10px;
		font-family:basic title font;
		font-size:12pt;
		background-color:#222d32;
		font-weight:bold;
		color:White;
		border:3px solid #222d32;
		outline:none;
		cursor:pointer;	
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
}

.fileicon{
    width:45px;
    height: 45px;
    border-radius: 45px;
    padding:5px;
    cursor: pointer;
    transition:0.3s;
}

.fileicon:hover{
   background-color:#2ba9e2;
}

.fileicon.active{
   background-color:#2ba9e2;
}


#pop-up-container{
   width: 100%;
    height: 100%;
}

#pop-up-log-in{
    font-family: Arial Narrow;
    z-index:6;
    width:500px;
    height:200px;
    background-color: white;
    border-radius: 10px;
    border: 5px solid #222d32;
    padding:20px;
    padding-top:30px;
    color:black;
    position: fixed;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#pop-up-log-in label{
    font-size: 20pt;
    font-weight: bold;
    margin-left: 35px;
}

#pop-up-log-in div{
    margin-top: 10px;
    text-align: center;
}



#txtRename{
    padding:10px;
    width: 300px;
    margin-left: 70px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

#btnRename,#btnRCancel,#btnNext,#btnCancel{
    padding:10px;
	padding-left:30px;
	padding-right:30px;
	font-family:basic title font;
	font-size:12pt;
	background-color:#222d32;
	font-weight:bold;
	color:White;
	border:3px solid #222d32;
	outline:none;
	
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
    cursor:pointer;
}


#pop-up-form{
    font-family: Arial Narrow;
    z-index:6;
    width:500px;
    height:525px;
    background-color: #445a64;
    border-radius: 10px;
    border: 5px solid #222d32;
    padding:20px;
    padding-top:30px;
    color:white;
    position: fixed;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
        
    font-family:century gothic;
    font-size:9pt;
}

#pop-up-form label{
    font-size: 20pt;
    font-weight: bold;
}

#txtProjName{
    font-family:Century Gothic;
    padding:5px;
    width: 100%;
    font-size:12pt;
    margin-bottom:2px;
    outline:none;
    border: none;
    color:#445a64;
    border-radius: 5px;
}
#divitema{
    padding: 5px;
}

#divitemd{
    display: inline-block;
    padding:5px;
    width:100%;
}

#divType, #divBrand, #divSize, #divQuan,#divFabric,#divPrint{
    float:left;
    width:50%;
}

#txtAddQty{
    font-family:Century Gothic;
    padding:5px;
    font-size:10pt;
    margin-bottom:2px;
    outline:none;
    border: none;
    color:white;
    background-color: #2289b7;
    border-radius: 5px;
}

#txtAddNote{
    margin-top: 5px;
    font-size: 10pt;
    font-family: century gothic;
    width:96%;
    height: 80px;
    resize: none;
    border-radius: 5px;
    outline: none;
    border:none;
    color: white;
    background-color: #2289b7;
    padding:3px;
}

#txtAddBgt{
    font-family:Century Gothic;
    padding:5px;
    font-size:10pt;
    margin-bottom:2px;
    outline:none;
    border: none;
    color:white;
    background-color: #2289b7;
    border-radius: 5px;
}

/*color*/
#avlclr{
    margin-top: 10px;
    
}
.btnclr{
    outline: none;
    border:1px solid black;
    border-radius: 3px;
    height:30px;
    width:30px;
    cursor: pointer;
}

#divbtnNext{
    text-align: right;
    width: 100%;
}
/*===========cmb=============*/
.styled-select {
    outline:none;
    height: 29px;
    overflow: hidden;
    border:none;
    font-family: century gothic;
       
}

.styled-select select {

   border: none;
   font-size: 14px;
   color:white;
   height: 29px;
   padding: 10px; /* If you add too much padding here, the options won't show in IE */
   width: 30px; 
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.blue    { background-color: #2289b7;color:white; }

.blue select  { color: #fff;}

.styled-select::-webkit-scrollbar {
    width: 7px;
}

.styled-select::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.styled-select::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color:#3394b8;
}
/*---------------------*/

#pop-up-form2{
    font-family: Arial Narrow;
    z-index:7;
    width:600px;
    height:450px;
    background-color: #445a64;
    border-radius: 10px;
    border: 5px solid #222d32;
    padding:20px;
    color:white;
    position: fixed;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
        
    font-family:century gothic;
    font-size:9pt;
}

#popup2wrapper{
    float: left;
    padding:7px;
}

#divcreate{
    cursor:pointer;
    position: relative;
    width:260px;
    height: 350px;
    background-color: #2289b7;color:white;
    border-radius: 5px;
    padding:15px;
}

#divcreate label{
    font-size: 15pt;
    font-weight: bold;
}

#btnCreate{
    margin-top: 20px;
    width:100%;
    height: 70%;
    border-radius: 50%;
    background-color: #222d32;
    text-align: center;
    cursor: pointer;
}

#imgcreate{
    position: relative;
    width:150px;
    top:40px;
    left:10px;
}

#divuplink{
    cursor:pointer;
    position: relative;
    width:260px;
    height: 110px;
    background-color: #2289b7;color:white;
    margin-bottom: 10px;
    border-radius: 5px;
    padding:10px;
 /*   padding-top: 40px;*/
}

#divuplink label{
    font-size: 15pt;
    font-weight: bold;
}

#txtLink{
    margin-top: 20px;
    width:100%;
    border-radius:5px;
    outline: none;
    border: none;
    font-size: 15pt;
}

#divupfile{
    cursor:pointer;
    position: relative;
    width:260px;
    height: 230px;
    background-color: #2289b7;color:white;
    border-radius: 5px;
    padding:10px;
}


#divupfile #label1{
    font-size: 15pt;
    font-weight: bold;
}


#btnUpFile {
    width:100%;
    margin-top: 20px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    font-family:basic title font;
    font-size:12pt;
    background-color:#222d32;
    font-weight:bold;
    color:White;
    border:3px solid #222d32;
    outline:none;
    cursor:pointer;

    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#divbtns{
    width:100%;
    height: 10px;
    padding:7px;
    text-align: right;
}

#btnBack2,#btnSubmit{
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    font-family:basic title font;
    font-size:12pt;
    background-color:#222d32;
    font-weight:bold;
    color:White;
    border:3px solid #222d32;
    outline:none;
    cursor:pointer;

    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


#opacitywrapper{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    border-radius: 5px;
    opacity:0.6;
    z-index: 8;
    
    transition: 0.5s;
}

/*properties*/

#divproperties{
    font-family: Arial Narrow;
    z-index:7;
    width:750px;
    height:370px;
    background-color: #445a64;
    border-radius: 10px;
    border: 5px solid #222d32;
    padding:20px;
    color:white;
    position: fixed;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
        
    font-family:century gothic;
    font-size:12pt;
}

#divprop1{
    float:left;
    width:370px;
}


#divproperties #divprop1:nth-child(2){
    text-align: center;
}


#imgeshirt{
    width:90%;
    height: auto;
}

#btnexit{
    width:30px;
    position: absolute;
    top:-20px;
    left:95%;
    cursor: pointer;
}

#divproperties2{
    margin-bottom: 10px;
}

#lblproperties{
    font-size: 20pt;
    font-weight: bold;
}

#divpropwrapper{
    width:50%;
    float: left;
}

/*divpricing*/

#divpricing{
    font-family: Arial Narrow;
    z-index:7;
    width:300px;
    height:200px;
    background-color: #445a64;
    border-radius: 10px;
    border: 5px solid #222d32;
    padding:20px;
    color:white;
    position: fixed;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
        
    font-family:century gothic;
    font-size:12pt;
}

#divbudget2,#divprice2{
    text-align: right;
}

#btnexit2{
    width:30px;
    position: absolute;
    top:-20px;
    left:95%;
    cursor: pointer;
}

#lblpricing{
    font-size: 20pt;
    font-weight: bold;
}

#inputprice{
    font-family:Century Gothic;
    padding:5px;
    font-size:10pt;
    width:50%;
    margin-bottom:2px;
    outline:none;
    border: none;
    color:white;
    background-color: #2289b7;
    border-radius: 5px;
}

#divbtn{
    width:100%;
    text-align:right;
}

#btnSubmit{
    margin-top: 10px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    font-family:basic title font;
    font-size:12pt;
    background-color:#222d32;
    font-weight:bold;
    color:White;
    border:3px solid #222d32;
    outline:none;
    cursor:pointer;

    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/*divnewcustomer*/
#divnewcustomer{
    font-family: Arial Narrow;
    z-index:7;
    width:300px;
    height:190px;
    background-color: #445a64;
    border-radius: 10px;
    border: 5px solid #222d32;
    padding:20px;
    color:white;
    position: fixed;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
        
    font-family:century gothic;
    font-size:12pt;
}

#txtsearch2{
    margin-top: 5px;
    width:100%;
    border-radius:5px;
    outline: none;
    border: none;
    font-size: 15pt;
}

#divnewcustomer div:nth-child(2){
    margin-top: 5px;
    width:100%;
}


#divnewcustomer div:nth-child(5){
    text-align: right;
    width: 100%;
}


#btnSearch2{
    margin-top: 10px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:3px; 
    padding-top:3px; 
    font-family:basic title font;
    font-size:12pt;
    background-color:#222d32;
    font-weight:bold;
    color:White;
    border:3px solid #222d32;
    outline:none;
    cursor:pointer;

    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#imgsearch2{
    width:20px;
}
/*=====page cover========*/
#page-cover2 {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:5;
    top: 0;
    left: 0;
    opacity: 0.6;
}

