#vpwrapper{
    display: inline-block;
    width: 100%;
}

#damit{
	height:auto;
	max-width:100%;
	float:left;
	}

#lbls{
	font-size:14pt;	
	width:40%;
	float:left;
	text-align:left;
	padding-left:30px;
}

#lblPrice1{
	font-size:12pt;
	font-family:Century Gothic;	
	font-weight:bold;
	color:gray;
}
#zoom{
	border:1px solid #DCDCDC;
	}
	
.thumbs{
	cursor:pointer;
}

#pname1{
	position:relative;
	font-family:Century Gothic;
	font-size:20pt;
	font-weight:bold;
	text-align:center;
}

#lblratings{
    position:relative;
	font-family:Century Gothic;
	font-size:20pt;
	font-weight:bold;

}

#divLabel{
	position:relative;
	font-family:Century Gothic;	
	font-weight:bold;
	font-size:16pt;
	margin-top:50px;
}

#divl2{
	margin:5px;
	font-family:Century Gothic;
	font-size:12pt;
}

select{
	font-family:Century Gothic;

	font-size:12pt;
	vertical-align:center;
}
#divLabel1{
	position:relative;
	float:right;
}

#selSize,#txtQuantity,#selColor{
	width:60px;
}

#divLabelquan{
	font-family:Century Gothic;	
	font-size:12pt;
	
}

#lblWarnQuantity{
	font-family:Adam;
	font-weight:bold;	
	font-size:12pt;
	color:D50101;
}

#btnAddToCart{
	padding:10px;
	padding-left:60px;
	padding-right:60px;
	font-family:basic title font;
	font-size:15pt;
	background-color:#222d32;
	font-weight:bold;
	color:White;
	border:3px solid #222d32;
	outline:none;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#btnAddWishList{
    margin-top: 5px;
    padding:5px;
	padding-left:43px;
	padding-right:43px;
	font-family:basic title font;
	font-size:15pt;
	background-color:#222d32;
	font-weight:bold;
	color:White;
	border:3px solid #222d32;
	outline:none;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#btnCustomize{
    margin-top: 5px;
    padding:5px;
	padding-left:70px;
	padding-right:70px;
	font-family:basic title font;
	font-size:15pt;
	background-color:#222d32;
	font-weight:bold;
	color:White;
	border:3px solid #222d32;
	outline:none;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#divbtnadd{
	text-align:right;
}

#lblcart{
	position:relative;
	left:13px;
    cursor: pointer;
}

#thumbs{
	border:1px solid #DCDCDC;
}

#rarrow{
	vertical-align:middle;
	width:30px;
	position:relative;
	left:13px;
    cursor: pointer;
	
	
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#prodinfo{
	font-weight:bold;
    font-size: 16pt;
}

#pop-up-container{
   width: 100%;
    height: 100%;
}

#pop-up-log-in{
    font-family: Arial Narrow;
    z-index:6;
    width:500px;
    height:200px;
    background-color: white;
    border-radius: 10px;
    border: 5px solid #222d32;
    padding:20px;
    padding-top:40px;
    color:black;
    position: fixed;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#pop-up-log-in label{
    font-size: 20pt;
    font-weight: bold;
}

#pop-up-log-in div{
    margin-top: 30px;
    text-align: center;
}

#page-cover2 {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:5;
    top: 0;
    left: 0;
    opacity: 0.6;
}

#btn-log-in,#btn-cancel{
    padding:20px;
	padding-left:60px;
	padding-right:60px;
	font-family:basic title font;
	font-size:15pt;
	background-color:#222d32;
	font-weight:bold;
	color:White;
	border:3px solid #222d32;
	outline:none;
	
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
    cursor:pointer;
}

#divlabel3{
	position:relative;
	font-family:Century Gothic;	
	font-weight:bold;
	font-size:12pt;
}

#tblsizechart{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#tblsizechart th,#tblsizechart td {
padding: 8px;
font-family:Adam;
font-weight:bold;
}

#tblsizechart tr:nth-child(even){background-color:#f2f2f2 }

#tblsizechart th {
    background-color: #222d32 ;
    font-family:Century gothic;
    font-weight:bold;
    color: white;
}
/*

#tblsizechart td:nth-child(2){
    text-align: center;
}

#tblsizechart td:nth-child(3){
    text-align: center;
}
*/


/*rating*/
#lblthoughts{
    position:relative;
	font-family:Century Gothic;
	font-size:12pt;
}

#cominput{
    margin-top: 10px;
    font-family: century gothic;
    font-size: 9pt;
    margin-bottom: 10px;
}

#tblcomment{
    border-collapse: collapse;
    width: 100%;
}

#tblcomment tr{
    width:50%;
}

#tblcomment tr td:nth-child(2){
    text-align: right;
}

#btnWriteReview{
    float: right;
}

.trlast{
    width: 100%;
    border-bottom: 1px solid lightgray;
}

#divcusrev{
    font-size: 15pt;
    font-family: century gothic;
    width:100%;
    color:white;
    padding: 5px;
    border-radius: 5px;
    background-color: #222d32;
}

#divtblcomments{
    font-family: century gothic;
    padding: 5px;
}

#comrating{
    font-family: century gothic;
    width:100px;
    margin-top: 5px;
    font-size: 10pt;
    border-radius: 5px;
    outline: none;
    padding:3px;
    border: 1px solid lightgray;
}

#comtxt{
    margin-top: 5px;
    font-size: 10pt;
    font-family: century gothic;
    width:50%;
    height: 80px;
    resize: none;
    border-radius: 5px;
    outline: none;
    padding:3px;
}

#comdiv{
    margin-bottom: 10px;
}
#btnWriteReview,#btnAddCom{
    margin-top: 5px;
    padding:5px;
	padding-left:43px;
	padding-right:43px;
	font-family:basic title font;
	font-size:15pt;
	background-color:#222d32;
	font-weight:bold;
	color:White;
	border:3px solid #222d32;
	outline:none;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}