/* For mobile phones: */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	
}

 /* For tablets: */
@media only screen and (min-width: 481px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
	
}
/* For desktop: */
@media only screen and (min-width: 801px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
	
	
	
	/*===============================*/
    
    h1{
        font-family: century gothic;
    }
    
  
    
    #tblwishlist{
		border-collapse: collapse;
		width: 100%;
	}

    #tblwishlist th,#tblwishlist td {
    text-align: left;
    padding: 8px;
    font-family:Adam;
    font-weight:bold;
    }
    
    #tblwishlist tr:nth-child(even){background-color:#f2f2f2 }

    #tblwishlist th {
        background-color: #222d32 ;
        font-family:Century gothic;
        font-weight:bold;
        color: white;
	}
    
    #imgdelwish{
        width:30px;
    }
}

