#divem-auth{
    position:relative;
    padding:20px;
    padding-top:0px;
}

#div-auth1{
    width:100%
        
}

#div-auth-container1{
   border: 1px solid lightgray;
}
#div-auth-container2{
    padding:20px;
}

h1{
    font-family:century gothic;
    font-weight:bold;
}

#lblveremail{
    font-family: century gothic;
}

#lblveremail2{
    font-family: century gothic;
    font-weight: bold;
}

#changeEmail{
    font-family: century gothic;
    color:blue;
    font-size: 10pt;
    cursor: pointer;
    margin-left: 10px;
    text-decoration: underline;
}

#spanChangeEmail{
    font-family: century gothic;
}

#txtChangeEmail{
    font-family: century gothic;
    width:250px;
    padding: 5px
}

#cancelEmailChange{
        margin-left: 20px;
        width:100px;
		height:auto;
		padding-left:10px;
		padding-right:10px;
		padding-top:5px;
		padding-bottom:5px;
		font-family:basic title font;
		font-size:12pt;
		background-color:#222d32;
		font-weight:bold;
		color:White;
		border:3px solid #222d32;
		outline:none;
		cursor:pointer;
		
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
}


#lblWarnChangeEmail{
        font-family: Century gothic;
        color:red;
		display:hidden;
		font-size:9pt;
		margin-top:2px;
}
        
#btnVerifyEmail{
        width:200px;
		height:auto;
		padding-left:20px;
		padding-right:20px;
		padding-top:10px;
		padding-bottom:10px;
		font-family:basic title font;
		font-size:12pt;
		background-color:#222d32;
		font-weight:bold;
		color:White;
		border:3px solid #222d32;
		outline:none;
		cursor:pointer;
		
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
}