body{
    overflow-y: hidden;
}
#listWithHandle{
    width:250px;
}

#draw-layers{
    height: 100%;
	width:100%;
    overflow-x: hidden;
}
.frnt_sht {
	position: relative;
	margin:10px;
}

#canvaswrapper{
    position: relative;
    width:550px;
    height:550px;
    margin: 0 auto;
    padding: 10px;
}

#frnt_cnv {
	position: absolute;
	border:1px solid white;
	top: 100px;
              left:153px;
}

.glyphicon-move {
  cursor: move;
  cursor: -webkit-grabbing;
}

#ln_width {
	width: 15em;
}


.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/*================================================*/
body{
	margin:0;
      background: url(../res/grid.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#header {
	padding:10px;
	width:100%;
	height:30%;
	text-align:center;
	background-color:#222d32;
}

#logo{
	width:100px;
}

#divtool{
	width:100%;
	height:37px;
	background-color: #32464f;
    box-shadow: 0 4px 2px -2px ;
}

#toolwrapper{
	width:100%;
	text-align:center;
}

#icon{
	width:25px;
}

#tool0{
    float:left;
    color:white;
    font-family: century gothic;
    margin-top: 10px;
    margin-left:30px;
}

#tool1{
    float:left;
}
#tool2{
	display:inline-block;
}
#tool3{
	float:right;
}

#btnUndo{
    padding: 6px 10px;
    text-decoration: none;
    transition: 0.3s;
}

/*===================nav=======================*/

ul.tab {
	margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}


ul.tab li {
	float: left;
	cursor:pointer;
}

ul.tab li a {
    display: inline-block;
    text-align: center;
    padding: 6px 10px;
    text-decoration: none;
    transition: 0.3s;
}


ul.tab2 {
	margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}


ul.tab2 li {
	float: left;
	cursor:pointer;
}

ul.tab2 li a {
    display: inline-block;
    text-align: center;
    padding: 6px 40px;
    text-decoration: none;
    transition: 0.3s;
}

ul.tab2 li a:hover {
	background-color: #2289b7;
}

ul.tab2 li a:focus, .active {
	background-color: #2289b7;
}

/*====================left sidenav ============*/
.lsidenav {
    height: 100%;
    width: 250;
    position: fixed;
    z-index: 1;
    top: 50;
    left: 0;
	background-color:#445a64;
    overflow-x: hidden;
    transition: 0.5s;
} 

#lwrapper{
    overflow-x: hidden;

    height: 90%;
   
}


#lwrapper::-webkit-scrollbar {
    width: 7px;
}

#lwrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#lwrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color:#3394b8;
}


.lsidenav a {
    text-decoration: none;
    font-size:12px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.lsidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.lsidenav .closebtn {
    position: absolute;
    top: -5px;
    right: 0px;
    font-size: 20px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .lsidenav {padding-top: 15px;}
  .lsidenav a {font-size: 18px;}
}

#lbltool{
    text-transform:uppercase;
    background-color: #2289b7;

}

.selecttool{
    width:35px;
    height:35px;
    border-radius: 35px;
    background-color: #2289b7;
    padding:5px;
    cursor: pointer;
}

.selecttool1{
    width:35px;
    height:35px;
    border-radius: 35px;
    padding:5px;
    cursor: pointer;
    
    transition:0.3s;
}

.selecttool1:hover{
    background-color:#2ba9e2;
}

.selecttool1:active{
    background-color: #2289b7;
}

#sel-options{
    padding:10px;
    padding-left:20px;
    padding-right:15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #354851;
    border-radius: 10px;
}

#sel-major, #sel-other{
    padding:5px;
    font-family: Century Gothic;
    font-size: 10pt;
    color:white;
}

/*====================right sidenav ============*/


.rsidenav {
    height:100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 60;
	right:0;
	background-color:#445a64;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
	
}

.rsidenav a {
    text-decoration: none;
    font-size:12px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.rsidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.rsidenav .closebtn {
    position: absolute;
    top: -5px;
    right: 0px;
    font-size: 20px;
    margin-left: 50px;
}

#draw-layers::-webkit-scrollbar {
    width: 7px;
}

#draw-layers::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#draw-layers::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color:#3394b8;
}

@media screen and (max-height: 450px) {
  .rsidenav {padding-top: 15px;}
  .rsidenav a {font-size: 18px;}
}

/*==============*/
.tabcontent {
    display: none;
	width:250px;
}


#contentwrapper{
	text-align:center;
}




/*=========layer ====================== */
.list-group-item{
    background-color: none;
    outline:none;
    height: 20px;
    border-bottom: 1px solid #2c4550;
    font-family:century gothic;
    font-size:9pt;
    color:white;
    padding:10px;
    transition: 0.3s;
    cursor: pointer;
}


.list-group-item:hover {
	background-color: #2289b7;
}

.list-group-item:focus, .active {
	background-color: #2289b7;
}

#divlayer{
	width:240px;
	font-size:12pt;
	color:white;
    padding: 10px;
	border-bottom: 1px solid #2c4550;
	border-top:1px solid #2c4550;  
}

#lbllayer{
    font-family: Century Gothic;
    font-weight: bold;
    display:inline-block;
    vertical-align: middle;
}

#divlayertool{
    display:inline-block;   
    vertical-align: middle;
    float: right;
    margin-right: 5px;
   
}

#layertool-del,#layertool-duplicate{
    position:relative;
    width:20px;
    margin-left: 5px;
    cursor: pointer;
}

#lbltool{
	text-align:center;
	width:240px;
	font-size:12pt;
	color:white;
	padding:10px;
	border-bottom: 1px solid #2c4550;
	border-top:1px solid #2c4550;
    font-family: Century Gothic;
    font-weight: bold;
}

#txtShtPr{
    margin-top: 5px;
    font-size: 15pt;
    font-family: century gothic;
    width:96%;
    resize: none;
    border-radius: 5px;
    outline: none;
    border:none;
    color: white;
    background-color: #26353c;
    padding:3px;
    text-align: center;
}

#Item{
    text-align:left;
}

#Item #divitema , #divQty{
    padding: 5px;
}

#btnFront,#btnBack{
    padding:10px;
	padding-left:39.7px;
	padding-right:39.7px;
	font-family:Century Gothic;
	font-size:10pt;
	background-color: #354851;
	font-weight:bold;
	color:White;
	border:none;
	outline:none;
	cursor:pointer;
	border-radius: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out
}

#btnFront.active{
    background-color: #2289b7;
}

#btnBack.active{
    background-color: #2289b7;
}

#divitema div{
    border-radius: 5px;
    margin-top:10px;
}

#divitemabtn{
    background-color: #354851;
}


#divType, #divBrand, #divSize, #divQuan,#divFabric,#divPrint{
    float:left;
    width:50%;
}

#txtAddQty{
    font-size: 11pt;
    font-family: century gothic;
    width:50px;
    resize: none;
    border-radius: 5px;
    outline: none;
    border:none;
    color: white;
    background-color: #26353c;
    padding:5px;
}

#avlclr{
    padding:10px;
    background-color: #354851;
}

#divitemd{
    display: inline-block;
    padding:5px;
    width:100%;
}

#divitemb{
    background-color: #354851;
    padding:10px;
    color:white;
    font-family: Century Gothic;
}

.btnclr{
    outline: none;
    border:none;
    border-radius: 3px;
    height:30px;
    width:30px;
    cursor: pointer;
}

#lblcolor, #lblarea{
    color:white;
    font-size: 10pt;
    font-family: century gothic;
}

#penline,#penpattern,#penwidth{
    padding:5px;
    font-family: Century Gothic;
    font-size: 10pt;
    color:white;
}

.pentool{
    width:35px;
    height:35px;
    border-radius: 35px;
    padding:5px;
    cursor: pointer;
    
    transition:0.3s;
}

.pentool:hover{
    background-color:#2ba9e2;
}

.pentool:active{
    background-color: #2289b7;
}

#penline div,#penpattern div,#penwidth div{
    padding:5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #354851;
    border-radius: 10px;
}

#penwidth div{
    text-align: center;
    padding-bottom: 8px;
}


/* range */

#ln_width {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    
    /*required for proper track sizing in FF*/
    width: 200px;
}

/* chrome*/
#ln_width::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 5px;
    outline:none;
}
#ln_width::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #2289b7;
    margin-top: -6px;
    cursor: pointer;
}
#ln_width:focus {
    outline: none;
}
#ln_width:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

/* mozilla*/
#ln_width::-moz-range-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px; 
    width: 100%;
    outline:none;
}
#ln_width::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #2289b7;
    cursor: pointer;
}

input[type="range"]::-moz-range-progress {
    background: #777;
    border: none;
}

input[type="range"]::-moz-range-track {  
  background: #ddd;
     border: none;
}
/*hide the outline behind the border*/
#ln_width:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

/*ie*/
#ln_width::-ms-track {
     width: 100%;
    height: 5px;
   
    background: transparent;
    
    border-color: transparent;
    
    border-width: 6px 0;

    color: transparent;
}
#ln_width::-ms-fill-lower {
    background: #777;
    border: none;
}
#ln_width::-ms-fill-upper {
    background: #ddd;
    border: none;
}
#ln_width::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #2289b7;
    cursor: pointer;
}
#ln_width:focus::-ms-fill-lower {
    background: #888;
}
#ln_width:focus::-ms-fill-upper {
    background: #ccc;
}

/*==============================*/
#fonttool{
    padding:5px;
    font-family: Century Gothic;
    font-size: 10pt;
    color:white;
}

#fonttool #fonttool1{
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #354851;
    border-radius: 10px;
}

#divfont{
    margin-top: 5px;
    margin-bottom: 5px;
    width:200px;
    padding-bottom: 5px;
    text-align: center;
}

#divalign{
    margin-top: 5px;
    margin-bottom: 5px;
    border:3px solid #2e4048;
    border-radius: 5px;
    width:151.1px;
}

#divweight{
    margin-top: 5px;
    margin-bottom: 5px;
    border:3px solid #2e4048;
    border-radius: 5px;
    width:74px;
}

#divalign div{
    display: inline-block;
    cursor: pointer;
    padding:5px;
}

#divweight div{
    display: inline-block;
    cursor: pointer;
    padding:5px;
}

#divalign #first.active{
    background-color: #2289b7;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#divalign #mid1.active{
    background-color: #2289b7;
}
#divalign #mid2.active{
    background-color: #2289b7;
}
#divalign #last.active{
    background-color: #2289b7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.talign:hover{
    background-color:#2ba9e2;
}

.talign:active{
    background-color: #2289b7;
}

#divweight #first.active{
    background-color: #2289b7;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#divweight #last.active{
    background-color: #2289b7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tweight:hover{
    background-color:#2ba9e2;
}

.tweight:active{
    background-color: #2289b7;
}



.icon3{
    width:25px;
    transition:0.3s;
}


.icon4{
    width:25px;
}



/*===========cmb=============*/
.styled-select {
    outline:none;
    height: 29px;
    overflow: hidden;
    border:none;
    font-family: century gothic;
       
}

.styled-select select {

   border: none;
   font-size: 14px;
   color:white;
   height: 29px;
   padding: 10px; /* If you add too much padding here, the options won't show in IE */
   width: 30px; 
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.blue    { background-color: #2289b7;color:white; }

.blue select  { color: #fff;}

.styled-select::-webkit-scrollbar {
    width: 7px;
}

.styled-select::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.styled-select::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color:#3394b8;
}
/*---------------------*/

#txtAddText{
    margin-top: 5px;
    font-size: 10pt;
    font-family: century gothic;
    width:96%;
    height: 80px;
    resize: none;
    border-radius: 5px;
    outline: none;
    border:none;
    color: white;
    background-color: #26353c;
    padding:3px;
}

#btnTxt{
    padding:10px;
	width:99%;
	font-family:Century Gothic;
	font-size:10pt;
	background-color: #2289b7;
	font-weight:bold;
	color:White;
	border:none;
	outline:none;
	cursor:pointer;
	border-radius: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out
}

#shape-options{
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 5px;
    background-color: #354851;
    border-radius: 10px;
}

.shape{
    width:35px;
    height:35px;
    border-radius: 35px;
    padding:5px;
    cursor: pointer;
    transition:0.3s;
}


.shape:hover{
    background-color:#2ba9e2;
}

.shape:active{
    background-color: #2289b7;
}



#color-options{
    width:250px;
}

#colortool{
    padding:5px;
    font-family: Century Gothic;
    font-size: 10pt;
    color:white;
}

#colortool1{
    
    display: inline-block;
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 5px;
    background-color: #354851;
    border-radius: 10px;
}

#ctwrapper{
    float:left;
}

#ctwrapper2{
    margin-left: 35px;
    float: left;
}

#lbllncolor,#lblfillcolor{
    background: none;
    color:white;
    font-family: Century Gothic;
    font-size: 9pt;
    border:none;
    width:60px;
}

.visb{
    width:20px;
    margin-right: 10px;
    vertical-align: middle;
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}

#txtAddNote{
    margin-top: 5px;
    font-size: 10pt;
    font-family: century gothic;
    width:96%;
    height: 80px;
    resize: none;
    border-radius: 5px;
    outline: none;
    border:none;
    color: white;
    background-color: #26353c;
    padding:3px;
}

#txtAddBgt{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 10pt;
    font-family: century gothic;
    width:196px;
    resize: none;
    border-radius: 5px;
    outline: none;
    border:none;
    color: white;
    background-color: #26353c;
    padding:3px;
}


#img-options{
    padding:5px;
    width:240px;
}

.inputimg{
    padding:10px;
	width:100%;
	font-family:Century Gothic;
	font-size:10pt;
	background-color: #2ba9e2;
	font-weight:bold;
	color:White;
	border:none;
	outline:none;
	cursor:pointer;
	border-radius: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out
}

#lblClip{
    width: 100%;
    font-family:Century Gothic;
	font-size:12pt;
    color:White;
    font-weight:bold;
    text-transform:uppercase;
    text-align: center;
    padding:5px;
}

#clipwrapper{
    position: relative;
    padding-top:5px;
    padding-bottom:5px;
    background-color: #354851;
    border-radius: 10px;
    overflow-y: scroll;
    height: 450px;
    width:98%;
}

#clipwrapper::-webkit-scrollbar {
    width: 7px;
}

#clipwrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#clipwrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color:#3394b8;
}

.clipTools{
    width:35px;
    height:35px;
    border-radius: 35px;
    padding:5px;
    cursor: pointer;
    transition:0.3s;
}


.clipTools:hover{
    background-color:#2ba9e2;
}

.clipTools:active{
    background-color: #2289b7;
}

#cmbClipArt{
    width:100%;
}

#clipprogress{
    position: absolute;
    top:30%;
    left:30%;
    z-index:6;
}

#clipprogress strong{
    position: absolute;
    top:38%;
    left:26%;
    color:white;
    font-family: century gothic;
}

#clipblack{
/*    display: none;*/
    position: absolute;
    width: 100%;
    height: 110%;
    background-color: #000;
    z-index:5;
    top: 0;
    left: 0;
    opacity: 0.6;
}

#help-popup2{
    display: none;
    height: auto;
    width:300px;
    background-color: #445a64;
    position: fixed;
    top:25%;
    left:38%;
    z-index:6;
}

#page-cover3{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:5;
    top: 0;
    left: 0;
    opacity: 0.6;
}

#helpcontrols{
		border-collapse: collapse;
		width: 100%;
	}

#helpcontrols th, #helpcontrols td {
    text-align: left;
    padding: 8px;
    font-family:Century Gothic;
    color: white;
    }


#helpcontrols td:nth-child(1){
    border-right: 1px solid white;
}

#helpcontrols th {
    background-color:  #222d32;
    font-family:Century gothic;
    font-weight:bold;
    
	}

#btnexit{
    width:30px;
    position: absolute;
    top:-20px;
    left:95%;
    cursor: pointer;
}
 

