.font-select {
    font-size: 20px;
    width: 140px;
    position: relative;
    display: inline-block;
    font-family: century gothic;
    top:8px;
    text-align: left;
}

.font-select .fs-drop {
      background: #2289b7;
      position: absolute;
      top: 29px;
      left: 0;
      -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
      -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
      -o-box-shadow     : 0 4px 5px rgba(0,0,0,.15);
      box-shadow        : 0 4px 5px rgba(0,0,0,.15);
      z-index: 999;
      color:white;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
}


.font-select > a {
  background-color: #2289b7;
  color:white;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 26px;
  line-height: 26px;
  padding: 0 0 0 8px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.font-select > a span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.8;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  cursor: pointer;
}

.font-select > a div {
  outline: none;
  position: absolute;
  right: 0;
  top: 0px;
  display: block;
  height: 100%;
  width: 18px;
}

.font-select > a div b {
  background: url('fs-sprite3.png') no-repeat 0px 0px;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}


.font-select .fs-results {
  margin:0;
  max-height: 190px;
  width: 180px;
  padding: 0 0 0 0px;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.font-select .fs-results::-webkit-scrollbar {
    width: 7px;
}

.font-select .fs-results::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.font-select .fs-results::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color:lightblue;
}

.font-select .fs-results li {
  line-height: 80%;
  padding: 7px 7px 8px;
  margin: 0;
  list-style: none;
  font-size: 18px;
}

.font-select .fs-results li.active {
  background: white;
  color: #2289b7;
  cursor: pointer;
}

.font-select-active > a {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
  -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
  -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
  box-shadow        : 0 0 5px rgba(0,0,0,.3);
}


.font-select-active > a div b {
  background-position: -18px 1px;
}
