body {margin:0; padding:0;background-color:#ffffff;}

/*Responsive vertical menu*/
ul.sidenav {
	list-style:none;
    margin:0;
	padding:0;
    width: 15%;
	position:fixed;
    background-color: #222d32;
	height:100%;
	overflow:auto;
}
ul.sidenav  li.main{
	background-color:#1a2226;
    padding: 11px 17px;
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: 500;
	color:#4b646f;
	letter-spacing: .001em;
	font-family: "Segoe UI";
}
ul.sidenav  li.tabLinks a {
    display: block;
    color:#b8c7ce;
    padding: 12px 18px;
    text-decoration: none;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: .001em;
	font-family: "Segoe UI";
	border-top: 1px solid #2c3b41;
	border-bottom:1px solid #1a2226;	
	border-right:1px solid #1a2226;
}

li.tabLinks a:hover:not(.active) {
    background-color: #2c3b41;
    color: white;
	border-left:2px solid #e04545;
}
li a.main:hover:not(.active) {
    color: white;
}
span{
	margin-right:7px;
	vertical-align:middle;
}
#iconCat:before
{
margin-left:2px;
content:url("Icons/category.png");
vertical-align:middle;
}
#iconHome:before
{
margin-left:2px;
content:url("Icons/home.png");
vertical-align:middle;
}
#iconShirtDesign:before
{
margin-left:2px;
content:url("Icons/shirt_design.png");
vertical-align:middle;
}
#iconShirt:before
{
margin-left:2px;
content:url("Icons/shirt.png");
vertical-align:middle;
}
#iconHomeBanner:before
{
margin-left:2px;
content:url("Icons/home_banner.png");
vertical-align:middle;
}
#iconCustom:before{
margin-left:2px;
content:url("Icons/custom.png");
vertical-align:middle;
}
#iconProduct:before
{
margin-left:2px;
content:url("Icons/product.png");
vertical-align:middle;
}
#iconRawMaterials:before
{
margin-left:2px;
content:url("Icons/raw_materials.png");
vertical-align:middle;
}
#iconSupplier:before
{
margin-left:2px;
content:url("Icons/supplier.png");
vertical-align:middle;
}
#iconWebPersonnel:before
{
margin-left:2px;
content:url("Icons/web_personnel.png");
vertical-align:middle;
}
#iconCustomerTransaction:before
{
margin-left:2px;
content:url("Icons/customer_transaction.png");
vertical-align:middle;
}
#iconEmployeeTransaction:before
{
margin-left:2px;
content:url("Icons/employee_transaction.png");
vertical-align:middle;
}

#iconActivityLog:before
{
margin-left:2px;
content:url("Icons/activity_log.png");
vertical-align:middle;
}

#iconReports:before
{
margin-left:2px;
content:url("Icons/reports.png");
vertical-align:middle;
}

@media screen and (max-width: 400px){
ul.sidenav li a {
        text-align: center;
        float: none;
    }
}

@media screen and (max-width: 1050px){
ul.sidenav {
        width:auto;
        height:auto;
        position:relative;
    }
ul.sidenav li a {
        float: left;
        padding: 7px 150px;
}
